@charset "UTF-8";
.xc-brand {
  font-size: 14px;
  line-height: 20px;
  padding: 20px 0 14px 26px;
  color: #333;

  .link {
    color: #999;
  }

  .line {
    font-style: normal;
    padding: 5px;
    color: #999;
  }
}
.xc-class-box {
  display: inline-block;
  text-align: center;
  .xc-class-img {
    width: 88px;
    height: 88px;
  }
  .xc-class-name {
    line-height: 22px;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    font-weight: 600;
  }
  .xc-class-btn {
    width: 100%;
    display: block;
    color: #fff;
    line-height: 30px;
    border-radius: 15px;
    background-color: rgba(0, 133, 230, 1);
  }
  .des {
    color: #999;
    line-height: 30px;
    .num {
      color: #0085e6;
      margin: 0 4px;
    }
  }
}
.xc-score {
  text-align: center;
  .xc-score-des {
    margin: 22px 0 30px 0;
    line-height: 20px;
    color: #666;
  }
  .xc-score-body {
    display: inline-block;
    .xc-score-img {
      width: 258px;
      float: left;
    }
    .xc-score-box {
      display: inline-block;
      text-align: left;
      margin-left: 5px;
    }
    .xc-score-title {
      color: #333;
      font-size: 20px;
      line-height: 28px;
      display: inline-block;
      margin: 0;
      padding: 0;
    }
    .xc-score-tip {
      font-size: 14px;
      color: #999999;
      display: inline-block;
      line-height: 20px;
    }
    .xc-score-number {
      font-size: 14px;
      color: #333;
      .xc-score-num {
        font-size: 30px;
        line-height: 42px;
        color: #FF4548;
        margin-left: 5px;
      }
      margin-top: 10px;
    }
  }
}
.xc-table-box {
  min-height: 600px;
  margin-bottom: 50px;
}
.coustom-body {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin-bottom: 15px;
  padding-bottom: 30px;
  .xc-score {
    padding-top: 45px;
    .xc-score-des {
      margin-top: 45px;
      margin-bottom: 20px;
    }
  }
  .coustom-return-box {
    text-align: center;
    .coustom-return-link {
      width: 188px;
      line-height: 36px;
      color: #fff;
      background-color: #0085e6;
      border-radius: 23px;
      font-size: 16px;
      text-align: center;
      display: inline-block;
    }
  }
  .coustom-currency-box {
    margin-top: 50px;
    text-align: center;
    .coustom-currency {
      display: inline-block;
      .coustom-currency-left {
        width: 103px;
        display: inline-block;
        .coustom-currency {
          color: #EEB843;
        }
      }
      .coustom-currency-right {
        padding-top: 5px;
        display: inline-block;
        text-align: left;
        line-height: 22px;
        .title {
          padding: 14px 0;
          margin: 0px;
          font-size: 16px;
          font-weight: 400;
          color: #0085e6;
        }
        .des {
          &:first-child {
            color: #666666;
          }
        }
      }
    }
  }
}
.xc-body .xc-mb30 {
  margin-bottom: 30px;
}
.xc-body .mt40 {
  margin-top: 40px;
}
.xc-body .mb100 {
  margin-bottom: 100px;
}
.xc-head {
  font-size: 14px;
  padding: 16px 30px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
  border-radius: 8px;
  color: #999;

  .xc-head-top {
    line-height: 36px;
    height: 36px;
    &::after {
      display: block;
      clear: both;
    }
    .xc-head-name {
      color: #0085e6;
      font-size: 20px;
      font-weight: bold;
      float: left;
    }

    .xc-head-unit {
      float: left;
      margin-left: 30px;
      padding-left: 30px;
      border-left: 1px solid rgba(235, 235, 235, 1);
    }

    .return {
      float: right;
      display: inline-block;
      padding-left: 30px;
      border-left: rgba(235, 235, 235, 1) 1px solid;
      color: #0085e6;
    }
  }

  .xc-head-bottom {
    overflow: hidden;
    margin-top: 15px;

    .xc-head-categories {
      line-height: 20px;

      .xc-head-category {
        float: left;
        cursor: pointer;
      }

      .circle {
        vertical-align: top;
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid rgba(235, 235, 235, 1);
        margin-right: 10px;
        margin-top: 1px;
        cursor: pointer;

        &.active {
          border-color: #0085e6;
          background-color: #0085e6;
          position: relative;

          &::after {
            content: "";
            display: inline-block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 111;
            background-color: #fff;
          }
        }
      }

      .number {
        color: #333;
        margin: 0 20px 0 5px;
        font-weight: 600;

        &.per {
          color: #0085e6;
        }
      }
    }
  }
}
.xc-coustom-pent {
  width: 100%;
  border: 1px solid rgba(235, 235, 235, 1);
  border-radius: 4px;
  .coustom-pent-head {
    line-height: 40px;
    color: #666;
    background-color: #f5f5f5;
    padding-left: 30px;
    .num {
      margin-right: 6px;
      color: #333;
    }
    .img {
      width: 30px;
      height: 30px;
      vertical-align: top;
      margin-top: 5px;
      margin-right: 5px;
    }
    .pent-btn {
      display: inline-block;
      padding: 0 10px;
      border-radius: 20px;
      line-height: 20px;
      font-size: 16px;
      color: #000000;
      font-weight: 400;
      border: 1px solid #7f7676;
      margin-left: 15px;
    }
  }
  .coustom-pent-body {
    padding: 30px;
    .coustom-label {
      .label {
        cursor: pointer;
        padding-left: 25px;
        font-size: 14px;
        line-height: 20px;
        display: inline-block;
        position: relative;
        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          width: 14px;
          height: 14px;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          border-radius: 50%;
          border: 1px solid rgba(215, 215, 215, 1);
          background-color: rgba(250, 250, 251, 1);
        }
        &.active::after {
          border-color: #0085e6;
          background-color: #0085e6;
        }
        &.active::before {
          content: '';
          position: absolute;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: #fff;
          left: 6px;
          top: 50%;
          transform: translateY(-50%);
          z-index: 100;
        }
        .radio-input {
          display: none;
        }
        &.true {
          color: #33CBB4;
        }
        .label-true-img {
          width: 20px;
          height: 20px;
          margin-left: 5px;
        }
      }
      .write-input {
        width: 100%;
        line-height: 36px;
        height: 36px;
        border-radius: 18px;
        border: 1px solid rgba(215, 215, 215, 1);
        outline: none;
        text-indent: 15px;
        font-size: 14px;
        color: #333333;
        &.active {
          border-color: #0085e6;
        }
        .error {
          color: #FF4548;
        }
        &.xc-blue {
          color: #0085e6;
        }
      }
    }
  }
  & + .xc-coustom-pent {
    margin-top: 15px;
  }
}
.xc-pent {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
  border-radius: 8px;
  overflow: hidden;

  .pent-head {
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    line-height: 28px;
    padding: 11px 30px;
    background-color: #0085e6;
    overflow: hidden;

    .pent-name {
      float: left;
      font-size: 20px;
      font-weight: 600;
      padding-right: 30px;
      border-right: 1px solid rgba(88, 176, 241, 1);
    }
    .coustom-item {
      font-size: 20px;
      font-weight: 600;
      color: #fff;
      display: inline-block;
      margin-right: 25px;
      position: relative;
      & + .coustom-item {
        margin-left: 25px;
        &::before {
          content: '';
          position: absolute;
          width: 1px;
          height: 30px;
          background-color: rgba(88, 176, 241, 1);
          display: inline-block;
          left: -25px;
          top: -1px;
        }
      }
    }
    .pent-name-small {
      float: left;
      padding-left: 30px;
    }

    .pent-close {
      width: 28px;
      float: right;
      cursor: pointer;
    }
  }

  .pent-body {
    padding: 30px;
    box-sizing: border-box;
  }
}
.xc-table {
  font-size: 14px;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 8px 8px 8px 8px;
  overflow: hidden;
  box-shadow: 0 3px 7px 1px rgb(235, 235, 235);
  cursor: pointer;
  thead {
    background-color: #0085e6;
  }

  th {
    color: rgba(251, 251, 251, 1);
    line-height: 20px;
    margin: 0;
    padding: 15px 0;
    font-weight: normal;
    position: relative;

    .position {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
    }

    .table-switch {
      position: absolute;
      display: inline-block;
      right: 30px;
      cursor: pointer;

      .table-switch-warp {
        background-color: rgba(235, 235, 235, 1);
        height: 16px;
        width: 30px;
        float: left;
        vertical-align: top;
        border-radius: 8px;
        margin-right: 10px;
        margin-top: 2px;
        position: relative;

        .table-switch-inner {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: #fff;
          position: absolute;
          left: 0;
          transition: all 0.2s linear;
        }
      }

      &.active {
        .table-switch-warp {
          background-color: #48d8bd;
        }

        .table-switch-inner {
          left: 14px;
        }
      }
    }
  }

  tbody {
    color: #666;
    text-align: center;

    tr {
      height: 48px;
    }

    td {
      border-right: 1px solid rgba(235, 235, 235, 1);

      &.red {
        color: #ff4548;
      }

      .table-btn {
        display: inline-block;
        padding: 5px 15px;
        border-radius: 15px;
        background-color: #0085e6;
        color: #fff;
        cursor: pointer;

        &.mini {
          font-size: 10px;
          padding: 4px 10px;
          border-radius: 10px;
          margin-left: 15px;
        }

        &.red {
          background-color: rgba(255, 69, 72, 1);
          color: #fff;
        }
      }

      .table-img {
        width: 28px;
      }
    }

    tr:nth-child(2n+1) {
      background-color: #fff;
    }
  }

  &.task-table {
    border-radius: 0 0 8px 8px;

    thead {
      background-color: transparent;
    }

    th {
      color: #666;
      font-size: 14px;
      font-weight: 600;
      border-right: 1px solid rgba(235, 235, 235, 1);
    }
  }
}

.xc-paging-box {
  margin: 25px auto 45px;
  text-align: center;
  color: #999;
  font-size: 0;

  span {
    font-size: 14px;
  }

  .xc-paging {
    display: inline-block;

    .page {
      margin-right: 5px;
      display: inline-block;
      line-height: 28px;
      height: 28px;
      padding: 0 5px;
      min-width: 28px;
      box-sizing: border-box;
      border-radius: 4px;
      border: 1px solid rgba(235, 235, 235, 1);
      background-color: rgba(255, 255, 255, 1);
      cursor: pointer;

      &.active {
        color: #0085e6;
        border-color: #0085e6;
      }

      img {
        width: 6px;
        vertical-align: top;
        margin-top: 8px;
      }
    }
  }

  .pages,
  .pages-num,
  .pages-go,
  .page-btn {
    font-size: 14px;
    display: inline-block;
  }

  .pages-num {
    margin: 0 10px;

    span {
      margin: 0 6px;
    }
  }

  .pages-go {
    margin: 0 10px;

    input {
      line-height: 24px;
      border-radius: 4px;
      border: 1px solid rgba(235, 235, 235, 1);
      width: 28px;
      text-align: center;
      box-sizing: border-box;
      margin: 0 6px;
    }
  }

  .page-btn {
    padding: 0 5px;
    line-height: 28px;
    border-radius: 4px;
    border: 1px solid rgba(235, 235, 235, 1);
    cursor: pointer;
  }
}

.xc-body {
  color: #999;
  font-size: 16px;
  a:hover {
    .course-class-name,
    .xc-class-name {
      color: #0085E6;
    }
  }
  .course-class-item {
    color: #333;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;

    .course-class-name {
      margin-bottom: 5px;
      color: #333;
      a {
        color: #333;
      }
      a:hover {
        color: #0085E6;
      }
    }
    
    .course-class-pro {
      display: table-cell;
      overflow: hidden;
      text-align: center;
      font-size: 12px;
      width: 220px;

      .course-pro-warp {
        width: 180px;
        height: 6px;
        background-color: #e5e5e5;
        float: left;
        border-radius: 6px;
        margin-top: 6px;

        .course-pro-inner {
          height: 100%;
          border-radius: 6px;
          width: 71.42%;
          background-color: #0085e6;
        }
      }

      .course-pro-test {
        float: right;
        line-height: 17px;

        span {
          color: #0085e6;
        }
      }
    }
  }
  .xc-container {
    width: 1200px;
    margin: 0 auto;
  }

  .main {
    background-color: rgba(251, 251, 251, 1);

    .test-nav {
      font-size: 18px;
      background-color: #fff;
      border-radius: 8px;
      margin-bottom: 16px;

      ul {
        overflow: hidden;
        display: flex;
        padding-left: 33px;
        position: relative;

        li {
          width: 79px;
          line-height: 25px;
          padding: 27px 0;
          text-align: center;
          margin-right: 46px;
          cursor: pointer;

          &.active {
            color: #0085e6;
          }
        }

        .line {
          display: inline-block;
          width: 79px;
          height: 3px;
          background-color: #0085e6;
          border-radius: 3px;
          position: absolute;
          transition: all 0.2s linear;
          left: 33px;
          bottom: 0;
        }
      }
    }

    .test-item {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  .task-main {
    h2 {
      padding: 0;
      margin: 0;
      line-height: 50px;
      border-radius: 8px 8px 0 0;
      overflow: hidden;
      padding-left: 30px;
      font-size: 20px;
      color: #fff;
      background-color: #0085e6;
      font-weight: 600;
    }
  }

  .course-main {
    .course-btn {
      padding: 5px 10px;
      color: #fff;
      background-color: #0085e6;
      border-radius: 15px;
      line-height: 20px;
      cursor: pointer;
    }

    .course-head {
      font-size: 14px;
      padding: 16px 30px;
      background-color: #fff;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
      margin-bottom: 15px;
      border-radius: 8px;
      color: #999;

      .course-head-top {
        line-height: 28px;
        height: 28px;

        .course-head-name {
          color: #0085e6;
          font-size: 20px;
          font-weight: bold;
          display: inline-block;
          float: left;
        }

        .course-head-classes {
          margin-left: 15px;
          display: inline-block;
          float: left;

          .classes-img {
            width: 20px;
            margin-top: -2px;
          }

          li {
            float: left;
            cursor: pointer;
            position: relative;
            z-index: 99;
            &:first-child {
              padding-right: 20px;
              border-right: 1px solid rgba(235, 235, 235, 1);
              color: #6dbbf4;

              img {
                margin-right: 5px;
              }
            }

            &:last-child {
              padding-left: 20px;

              .tip {
                margin-top: 2px;
              }

              .tip::after {
                display: inline-block;
                width: 0;
                height: 0;
                border-left: 10px solid #d8d8d8;
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                content: "";
                margin: 3px 0 0 5px;
              }
            }
            .course-list {
              display: none;
              position: absolute;
              width: 410px;
              height: 670px;
              background-color: #fff;
              z-index: 100;
              top: 0px;
              right: -420px;
              box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.09);
              border-radius: 4px;
              &::before {
                content: "";
                width: 0;
                height: 0;
                border: 15px solid #fff;
                border-color: transparent #fff transparent transparent;
                position: absolute;
                top: -3px;
                left: -22px;
              }
              .course-list-item {
                margin-bottom: 30px;
              }
              .course-list-left {
                display: inline-block;
                width: 140px;
                text-align: center;
                vertical-align: top;
                .xc-class-box {
                  margin-top: 50%;
                }
                &.last .xc-class-box {
                  margin-top: 0;
                }
              }
              .course-list-right {
                width: 220px;
                display: inline-block;
                .course-class-item,
                .course-class-name {
                  margin-bottom: 0px;
                }
                .course-list-classes {
                  margin-top: 5px;
                }
                .course-list-classes-item {
                  width: 50%;
                  float: left;
                  box-sizing: border-box;
                  line-height: 22px;
                  color: #333333;
                  padding: 10px 0 10px 30px;
                  position: relative;
                  display: inline-block;
                  &::before {
                    display: inline-block;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    content: '';
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    border-radius: 50%;
                    border: 1px solid rgba(215, 215, 215, 1);
                    background: rgba(250, 250, 251, 1);
                  }
                  &.active::before {
                    border-color: #0085E6;
                    background: #0085E6 url('../img/word_right.png') no-repeat center center;
                    background-size: 15px auto;
                  }
                }
              }
            }
          }
        }

        .course-head-types {
          display: inline-block;
          float: right;

          .course-head-type {
            display: inline-block;
            padding: 0 26px;
            cursor: pointer;
            &.active {
              color: #0085e6;
            }
            a {
              color: #999999
            }
            a:hover {
              color: #0085e6;
            }
            & + .course-head-type {
              border-left: 1px solid rgba(235, 235, 235, 1);
            }

            &:last-child {
              padding-right: 0;
            }
          }
        }
      }

      .course-head-bottom {
        overflow: hidden;
        margin-top: 17px;

        .course-head-courses {
          display: inline-block;
          float: left;

          .course-head-course {
            display: inline-block;
            line-height: 24px;
            padding: 0 10px;
            border-radius: 12px;
            border: 1px solid #fff;
            cursor: pointer;
            &.active_always {
              color: #0085e6;
              border-color: #0085e6;
            }
            &:hover {
              color: #0085e6;
              border-color: #0085e6;
            }
            a {
              color: #999;
            }
          }
        }

        .course-btn {
          float: right;
        }
      }
    }

    .course-body {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
      margin-bottom: 15px;
      border-radius: 8px;
      overflow: hidden;

      .course-body-left {
        width: 280px;
        float: left;
        color: #666;

        .course-untiy-name {
          float: left;
          color: #666;
          font-size: 1.6rem;
        }

        .course-body-untiy {
          line-height: 20px;
          padding: 15px 30px;
          overflow: hidden;
          height: 20px;
          cursor: pointer;
          &:nth-child(2n + 2) {
            background-color: #fff;
          }
          &.active {
            background: #EAF1F6;
            color: #0085E6;
            .course-untiy-name {
              color: #0085E6;
            }
          }
        }

        .course-untiy-imgs {
          font-size: 0;
          float: right;

          .img {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            display: inline-block;
            margin-left: 10px;
            position: relative;
            &.blue::before,
            &.blue::after {
              background-color: #0085e6;
            }
            &.green::before,
            &.green::after {
              background-color: #33CBB4;
            }
            &.warn::before,
            &.warn::after {
              background-color: #FFC74E;
            }
            &.re::after {
              transform: rotate(60deg);
              transform-origin: left center;
            }
            &::before {
              display: inline-block;
              content: '';
              width: 9px;
              height: 18px;
              border-radius: 9px 0 0 9px;
            }
            &::after {
              display: inline-block;
              content: '';
              width: 9px;
              height: 18px;
              border-radius: 0 9px 9px 0;
            }
          }
          .kimg {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border-width: 2px;
            border-style: solid;
            display: inline-block;
            margin-left: 10px;
            &.blue {
              border-color: #0085e6;
            }
            &.green {
              border-color: #33CBB4;
            }
            &.warn {
              border-color: #FFC74E;
            }
          }
        }
      }

      .course-body-center {
        height: 600px;
        float: left;
        width: 612px;
        background-color: #fff;
        .course-body-class {
          padding: 0 43px;
          float: left;
          .course-class-icon {
            text-align: center;
            padding: 40px 0 30px 0;
          }
        }
        &.words-center {
          width: 100%;
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
        }
        > div {
          padding: 0 100px;
        }
      }

      .course-body-right {
        width: 308px;
        float: left;
        text-align: center;
        background-color: #fff;
        height: 600px;
      }
    }
  }

  .readText-main {
    .readText-btns {
      overflow: hidden;
      font-size: 14px;
      color: #666;
      margin-bottom: 20px;

      .readText-loop,
      .readText-play {
        .btn-img {
          width: 50px;
        }

        width: 56px;
        float: left;
        text-align: center;
        margin-right: 23px;
        cursor: pointer;
      }
    }

    .readText-box {
      font-size: 20px;
      line-height: 30px;
      font-weight: 600;

      .active {
        color: #0085e6;
      }
    }
  }

  .readText-sentence {
    font-weight: 200;
    width: 380px;
    margin: 170px auto 120px;

    .readText-listen {
      font-size: 14px;
      font-weight: 400;

      .readText-listen-img {
        width: 46px;
        margin-right: 20px;
      }
    }

    .readText-write {
      color: #333;
      font-size: 30px;
      margin-top: 40px;

      .readText-write-item {
        display: inline-block;
        margin-right: 10px;
        padding-bottom: 5px;
        border-bottom: 3px solid rgba(0, 133, 230, 1);
      }

      .h1 {
        font-weight: 600;
        display: inline-block;
      }

      .readText-write-btn {
        width: 95px;
        height: 36px;
        background: #0085e6 url('../img/readText-reset.png') no-repeat 15px center;
        background-size: 21px 17px;
        color: #fff;
        font-size: 16px;
        border-radius: 18px;
        display: inline-block;
        line-height: 36px;
        text-indent: 46px;
        margin-left: 15px;
        cursor: pointer;
      }

      input {
        width: 66px;
        height: 42px;
        line-height: 42px;
        font-size: 30px;
        border: none;
        background: none;
        outline: none;
        text-align: center;
        margin: 0;
        padding: 0;

        &.active {
          background-color: #d9efff;
        }
      }
    }

    .readText-example {
      font-size: 0;
      margin-top: 25px;

      .readText-example-item {
        font-size: 16px;
        line-height: 22px;
        color: #666;
        width: 66px;
        text-align: center;
        background-color: rgba(250, 250, 251, 1);
        border-radius: 13px;
        display: inline-block;
        margin-right: 10px;
      }
    }
  }

  .readText-blank {
    font-weight: 200;

    .readText-blank-item {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: rgba(102, 102, 102, 1);
      vertical-align: top;

      .sure {
        color: #33cbb4;
      }

      .readText-blank-div {
        display: inline-block;
        padding-bottom: 2px;
        border-bottom: 2px solid rgba(0, 133, 230, 1);
        height: 26px;
        position: relative;
        width: 60px;
        vertical-align: top;
        color: #33cbb4;
        text-align: center;

        &.error {
          color: #ff4548;
        }

        input {
          width: 60px;
          height: 20px;
          line-height: 20px;
          font-size: 20px;
          border: none;
          outline: none;
          background: none;
          text-align: center;
          margin: 0;
          padding: 0;
          position: absolute;
          bottom: 2px;
          left: 0;

          &.active {
            background-color: #d9efff;
          }
        }
      }
    }
  }
}

.readText-footer-box {
  height: 80px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;

  .readText-footer {
    padding-left: 40px;
    position: relative;
  }

  .readText-footer-img {
    float: left;
    width: 86px;
    padding: 10px 0;
  }

  .readText-footer-items {
    float: left;
    min-width: 108px;
    line-height: 20px;
    padding: 10px 0 10px 20px;
    font-size: 14px;

    .time {
      margin-left: 15px;
      color: #333;
    }
  }

  .readText-pro {
    float: left;
    padding-top: 10px;
    margin-left: 45px;

    .readText-pro-name {
      width: 605px;
      text-align: center;
      font-size: 16px;
      color: #333;
      line-height: 22px;
      font-weight: 600;
      margin-bottom: 8px;
    }

    .readText-pro-item {
      float: left;
      font-size: 12px;
      line-height: 20px;
      padding: 10px 0;
      width: 184px;
      position: relative;

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #ccc;
        top: 0;
        left: 20px;
        z-index: 100;
      }

      &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 2px;
        background-color: #ccc;
        top: 3px;
        left: -158px;
        position: absolute;
      }

      &:first-child::after {
        display: none;
      }

      &.active {
        color: #0085e6;
        font-weight: 600;
      }

      &.active::before {
        background-color: #0085e6;
      }

      &.active::after {
        background-color: #0085e6;
      }
    }

    .readText-footer-btns {
      width: 263px;
      position: absolute;
      right: 0;
      top: 0;
      text-align: center;
      line-height: 30px;

      a {
        padding: 25px 0;
        width: 100%;
        color: #fff;
        display: block;
        font-weight: 600;
        font-size: 20px;
      }

      .readText-footer-btn.next {
        background-color: #0085e6;
      }

      .readText-footer-btnImg {
        width: 30px;
        margin-left: 25px;
        vertical-align: top;
        cursor: pointer;
      }

      &.two {
        .readText-footer-btn {
          width: 50%;
          float: left;
        }

        .readText-footer-btnImg {
          margin-left: 5px;
        }

        .readText-footer-btn.prv {
          a {
            color: #999;
          }

          .readText-footer-btnImg {
            margin-left: 0;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
.xc-review {
  color: #33CBB4;
  font-size: 16px;
  margin-top: -10px;
  margin-bottom: 20px;
  &.error {
    color: #FF4548;
  }
}
.xc-review-img {
  width: 26px;
  height: 26px;
  vertical-align: top;
  margin-top: 9px;
  margin-right: 5px;
}
.xc-coustom-footer {
  line-height: 64px;
  height: 64px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.05);
  .coustom-footer-btn {
    float: right;
    text-align: center;
    width: 148px;
    background-color: #0085e6;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
  }
  .coustom-footer-return {
    cursor: pointer;
    padding: 0 30px;
    float: right;
    .return {
      color: #666;
      font-size: 20px;
    }
  }
  .coustom-footer-time {
    float: right;
    color: #999;
    .timeImg {
      width: 20px;
      height: 20px;
      margin: 22px 5px 0 0;
      vertical-align: top;
    }
    .time {
      font-size: 30px;
      color: #333;
      display: inline-block;
      line-height: 42px;
      vertical-align: top;
      margin-top: 11px;
      margin-left: 5px;
    }
  }
}
.intelText-box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  position: relative;
  padding: 16px 30px;
  margin-bottom: 15px;
  .intelText-head-name {
    line-height: 28px;
    font-size: 20px;
    color: #0085e6;
  }
  .intelText-close {
    position: absolute;
    width: 35px;
    height: 35px;
    cursor: pointer;
    right: 30px;
    top: 10px;
  }
  .intelText-classes-box {
    line-height: 60px;
    font-size: 18px;
    border-bottom: 1px solid rgba(235, 235, 235, 1);
    overflow: hidden;
    .intelText-classes {
      display: inline-block;
      position: relative;
      .intelText-line {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 80px;
        height: 6px;
        border-radius: 3px;
        background-color: #0085e6;
        cursor: pointer;
        display: none;
      }
      .intelText-class {
        display: inline-block;
        padding: 0 5px;
        text-align: center;
        margin-right: 30px;
        cursor: pointer;
        &.active {
          color: #0085e6;
        }
      }
    }
    .intelText-classes-des {
      display: inline-block;
      float: right;
      color: #666666;
      font-size: 14px;
      .intelText-classes-score {
        display: inline-block;
        font-size: 18px;
        margin-left: 30px;
        .intelText-classes-score-num {
          color: #0085e6;
        }
      }
    }
  }
  .intelText-classNum {
    margin-top: 20px;
    padding-left: 20px;
    .intelText-classNum-items {
      cursor: pointer;
      display: inline-block;
      line-height: 30px;
      font-size: 16px;
      text-align: center;
      width: 70px;
      &.active {
        color: #0085e6;
      }
    }
  }
}
.intelText-footer {
  line-height: 64px;
  font-size: 14px;
  color: #999999;
  background-color: #fff;
  box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.05);
  .intelText-footer-item {
    display: inline-block;
  }
  .intelText-footer-timeImg {
    width: 20px;
    height: 20px;
    vertical-align: top;
    margin-top: 22px;
    margin-right: 10px;
  }
  .intelText-footer-time {
    font-size: 30px;
    color: #333333;
    margin: 0 30px 0 5px;
    vertical-align: top;
  }
  .intelText-footer-btns {
    display: inline-block;
    float: right;
    .intelText-footer-btn {
      display: inline-block;
      float: left;
      width: 148px;
      text-align: center;
      font-size: 20px;
      background: rgba(250, 250, 251, 1);
      &:first-child {
        border-right: 1px solid rgba(235, 235, 2351);
      }
      .intelText-footer-link {
        font-size: 20px;
        color: #666;
        display: block;
      }
      &.active {
        background-color: #0085e6;
        .intelText-footer-link {
          color: #fff;
          font-weight: 600;
        }
      }
    }
  }
}
.xc-body .intelText-blan-item {
  padding: 30px;
  font-size: 14px;
  color: rgba(102, 102, 102, 1);
  line-height: 28px;
  border-radius: 4px;
  border: 1px solid rgba(235, 235, 235, 1);
  & + .intelText-blan-item {
    margin-top: 10px;
  }
  .intelText-blan-div {
    display: inline-block;
    border-bottom: 2px solid #0085e6;
    margin: 0 5px;
    .intelText-blan-input {
      background: none;
      border: none;
      text-align: center;
      color: #333333;
      width: 124px;
      outline: none;
      line-height: 22px;
    }
  }
}
.xc-readCom-box {
  display: flex;
  .xc-readCom-paragraph {
    font-size: 14px;
    line-height: 30px;
    text-indent: 28px;
    .xc-readCom-paragraph-div {
      display: inline-block;
      border-bottom: 2px solid #0085e6;
      margin: 0 5px;
      text-indent: 0;
      .xc-readCom-paragraph-input {
        background: none;
        border: none;
        text-align: center;
        color: #333333;
        width: 140px;
        outline: none;
        line-height: 22px;
      }
    }
    .readCom-paragraph-num {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid #FF4548;
      display: inline-block;
      color: #FF4548;
      box-sizing: border-box;
      text-indent: 0;
      line-height: 20px;
      text-align: center;
      margin-right: 5px;
    }
    .readCom-paragraph-item {
      display: inline;
      word-wrap: break-word;
      text-indent: 0;
      border-bottom: 1px solid rgba(255, 69, 72, 1);
      white-space: wrap;
    }
    & + .xc-readCom-paragraph {
      margin-top: 30px;
    }
  }
  .xc-readCom {
    flex: 1;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid rgba(235, 235, 235, 1);
    padding: 30px 36px 36px 20px;
    .intelText-blan-item {
      padding: 0;
      border: none;
      & > div {
        margin-bottom: 10px;
      }
    }
  }
  .xc-writing-des {
    width: 340px;
    padding: 25px 20px;
    margin-right: 15px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgba(235, 235, 235, 1);
    color: #666666;
    font-size: 14px;
    line-height: 30px;
  }
  .xc-readCom-answer {
    border-radius: 4px;
    flex: 1;
    border: 1px solid rgba(235, 235, 235, 1);
    padding: 30px 36px 36px 20px;
    font-size: #666666;
    .xc-coustom-pent {
      border: none;
      .coustom-pent-head {
        padding: 0;
        background: none;
        font-weight: 600;
      }
      .coustom-pent-body {
        padding: 0;
        .label {
          margin-top: 5px;
        }
      }
      & + .xc-coustom-pent {
        margin-top: 5px;
      }
    }
    &.xc-writing-box {
      padding: 25px 20px;
      min-height: 634px;
      box-sizing: border-box;
      .xc-writing-text {
        width: 100%;
        min-height: 100%;
        line-height: 32px;
        outline: none;
        background: url('../img/write-text.jpg');
        border: none;
        font-size: 20px;
        color: #999999;
      }
      &.xc-writing-check {
        padding: 0px;
        border: none;
        .xc-writing-list {
          overflow: hidden;
        }
        .xc-writing-list-item {
          font-size: 16px;
          line-height: 22px;
          color: #999;
          display: inline-block;
          padding: 0 15px;
          float: left;
          cursor: pointer;
          &.active {
            color: #0085e6;
          }
        }
        .xc-writing-div {
          margin-top: 20px;
          padding: 20px;
          line-height: 32px;
          font-size: 20px;
          color: rgba(102, 102, 102, 1);
          min-height: calc(100% - 42px);
          border-radius: 4px;
          border: 1px solid rgba(235, 235, 235, 1);
          box-sizing: border-box;
        }
        .xc-writing-boxs {
          min-height: 100%;
          background: url('../img/write-text.jpg');
          .xc-writing-box {
            min-height: 100%;
            display: block;
            display: none;
            .xc-writing-box-p {
              font-size: 20px;
              text-indent: 40px;
              .xc-writing-box-error {
                border-bottom: dashed 2px #FF4548;
              }
            }
            &.active {
              display: block;
            }
          }
        }
      }
    }
  }
  .xc-readCom-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .xc-readCom-input {
    font-size: 14px;
    margin-right: 8px;
    margin-bottom: 10px;
    display: inline-block;
    .readCom-input {
      border: 1px solid rgba(215, 215, 215, 1);
      line-height: 24px;
      border-radius: 18px;
      color: #333333;
      background: none;
      outline: none;
      padding: 0;
      margin: 0;
      width: 95px;
      margin-left: 3px;
      text-align: center;
    }
  }
  .xc-readCom-answers {
    color: #333333;
    line-height: 32px;
    margin-top: 20px;
  }
  .xc-readCom-answer-item {
    font-size: 14px;
    color: #666666;
    .answer-item-input {
      width: 88px;
      line-height: 23px;
      background: none;
      outline: none;
      border: 1px solid rgba(215, 215, 215, 1);
      border-radius: 18px;
      text-align: center;
      margin: 10px 0;
      color: #0085e6;
    }
    label {
      display: block;
      & + label {
        margin-top: 15px;
      }
    }
  }
}
.xc-readCom-lists {
  line-height: 30px;
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  .xc-readCom-list {
    & + .xc-readCom-list {
      margin-top: 20px;
    }
    .xc-readCom-list-div {
      display: inline-block;
      border-bottom: 2px solid #0085e6;
      text-indent: 0;
    }
    .xc-readCom-list-input {
      background: none;
      border: none;
      color: #333333;
      width: 140px;
      outline: none;
      line-height: 22px;
      text-indent: 5px;
      font-weight: 600;
    }
    .xc-readCom-list-num {
      display: inline-block;
      width: 20px;
    }
    &.readCom-list-check {
      margin-top: 0px;
      padding-left: 40px;
      background: url('../img/word_right.png') no-repeat left 5px;
      background-size: 25px 25px;
      .xc-readCom-list-input {
        color: #33CBB4;
      }
      .list-check-des {
        font-size: 14px;
        line-height: 40px;
        color: #999;
        font-weight: 200;
        display: inline-block;
        margin-right: 20px;
        .list-check-type {
          margin-right: 5px;
        }
      }
      &.readCom-list-check-error {
        background-image: url('../img/word_fault.png');
        .xc-readCom-list-input {
          color: #333333;
        }
      }
    }
  }
}
.xc-proplay {
  overflow: hidden;
  line-height: 50px;
  .xc-proplay-btns {
    float: left;
    .xc-proplay-img {
      width: 50px;
      height: 50px;
    }
  }
  .xc-proplay-box {
    float: right;
    margin: 5px 0;
    .xc-proplay-outher {
      display: inline-block;
      width: 917px;
      height: 6px;
      background: rgba(235, 235, 235, 1);
      border-radius: 3px;
      margin: 0 5px;
      vertical-align: top;
      margin-top: 22px;
      .xc-proplay-inner {
        height: 100%;
        background-color: #0085e6;
        border-radius: 3px;
      }
    }
    .xc-proplay-time {
      color: #0085e6;
      font-size: 14px;
    }
  }
}
.xc-realText {
  padding-bottom: 0px;
}
.xc-yellow {
  color: #FFC74E;
}
.xc-center {
  text-align: center;
}
.xc-blue {
  color: #0085e6;
}
.xc-error {
  color: #FF4548;
}
.xc-pdl30 {
  padding-left: 35px !important;
}
.xc-des {
  color: #999;
  margin: 5px 0;
}
.readCom-answer-changs {
  .readCom-answer-chang {
    font-size: 0;
    line-height: 28px;
    .answer-chang-num {
      font-size: 14px;
      color: #333333;
      font-weight: 600;
      display: inline-block;
      width: 22px;
    }
    .answer-chang-div {
      display: inline-block;
      width: 100px;
      text-align: center;
      line-height: 26px;
      color: #333333;
      border: 1px solid rgba(215, 215, 215, 1);
      border-radius: 18px;
      box-sizing: border-box;
      font-size: 14px;
      margin-right: 10px;
      &.answer-chang-select {
        color: rgba(215, 215, 215, 1);
        text-align: left;
        text-indent: 10px;
        background: url('../img/word-select.png') no-repeat right 10px center;
        background-size: 10px auto;
      }
    }
    .answer-chang-box {
      font-size: 14px;
      display: inline-block;
      float: right;
      vertical-align: top;
      .answer-chang-input {
        width: 90px;
        text-align: center;
        background: none;
        outline: none;
        border: none;
        line-height: 20px;
        border-bottom: 2px solid #0085e6;
        color: #999;
      }
    }
    & + .readCom-answer-chang {
      margin-top: 25px;
    }
    &.answer-changs-check {
      padding-left: 40px;
      background: url('../img/word_right.png') no-repeat left 2px;
      background-size: 25px 25px;
      .answer-chang-box {
        margin-right: 80px;
        .answer-chang-input {
          color: #33CBB4;
        }
      }
      .answer-chang-div {
        color: #33CBB4;
      }
      .answer-chang-des {
        line-height: 26px;
        font-size: 14px;
        .answer-chang-type {
          margin-right: 10px;
        }
      }
      &.answer-changs-error {
        background-image: url('../img/word_fault.png');
        .answer-chang-div {
          color: #ff4548;
        }
        .answer-chang-box {
          .answer-chang-input {
            color: #ff4548;
          }
        }
      }
    }
  }
}
.xc-mt30 {
  margin-top: 30px;
}
.xc-readCom-corrects {
  .xc-readCom-correct {
    line-height: 26px;
    font-size: 0px;
    .readCom-correct-img {
      width: 26px;
      height: 26px;
      vertical-align: top;
    }
    .readCom-correct-num {
      font-size: 14px;
      color: #666;
      display: inline-block;
      margin-left: 15px;
      min-width: 25px;
    }
    .readCom-correct-div {
      line-height: 24px;
      width: 95px;
      text-align: center;
      font-size: 14px;
      color: #33CBB4;
      border: 1px solid rgba(215, 215, 215, 1);
      border-radius: 18px;
      display: inline-block;
    }
    .readCom-correct-des {
      color: #999999;
      font-size: 14px;
      margin-left: 30px;
      .readCom-correct-type {
        margin-right: 5px;
      }
    }
    &.xc-readCom-correct-error {
      .readCom-correct-div {
        color: #FF4548;
      }
    }
    & + .xc-readCom-correct {
      margin-top: 10px;
    }
  }
}
.xc-html {
  height: 100%;
  .xc-body {
    height: 100%;
    .wrap {
      min-height: calc(100% - 300px);
      &.ml {
        min-height: calc(100% - 144px);
      }
      &.mt {
        min-height: calc(100% - 160px);
      }
    }
  }
}
.course-body-box {
  width: 920px;
  float: left;
  .course-body-box-item {
    display: none;
    &.active {
      display: block;
    }
  }
}
.xc-banner {
  display: none;
  .xc-banner-marker {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 99999;
    cursor: pointer;
  }
  .xc-banner-body {
    width: 900px;
    height: 568.8px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    position: fixed;
    z-index: 100000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .xc-banner-title {
    font-size: 16px;
    line-height: 60px;
    padding: 0;
    color: #333333;
    text-indent: 38px;
    margin: 0;
    border-bottom: 1px solid rgba(235, 235, 235, 1);
  }
  .xc-banner-close {
    width: 19px;
    height: 19px;
    float: right;
    margin-right: 38px;
    margin-top: 20px;
    cursor: pointer;
  }
  .xc-banner-items-box {
    padding: 30px 50px;
  }
  .xc-banner-items {
    width: 100%;
    .xc-banner-img {
      width: 100%;
      height: auto;
    }
  }
  .xc-banner-item {
    display: none;
    &.active {
      display: block;
    }
  }
  .xc-banner-btns {
    position: relative;
    width: 133px;
    height: 25px;
    margin: 0 auto;
    line-height: 20px;
    font-size: 28px;
    background: url('../img/xc-banner-btn.png') no-repeat;
    text-align: center;
    color: #333333;
    .active {
      color: #0085e6;
    }
    .xc-banner-btn {
      position: absolute;
      display: inline-block;
      width: 25px;
      height: 25px;
      top: 0;
      cursor: pointer;
    }
    .xc-banner-next {
      right: 0;
    }
    .xc-banner-prv {
      left: 0;
    }
  }
}
.xc-sign {
  margin: 56px 0;
  position: relative;
  .sign-box {
    position: absolute;
    top: 253px;
    width: 100%;
  }
  .xc-sign-header {
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 0;
    margin: 30px 0;
  }
  .xc-sign-btn {
    color: #fff;
    line-height: 28px;
    padding: 11px 35px;
    border-radius: 32px;
    border: 2px solid rgba(255, 255, 255, 1);
    width: 80px;
    text-align: center;
    margin: 0 auto;
  }
  .sign-des {
    text-align: center;
    margin-bottom: 30px;
    left: 22px;
    color: #fff;
  }
}
.input-items {
  color: #333;
  font-size: 20px;
  .input-item {
    background: none;
    width: 70px;
    line-height: 30px;
    height: 30px;
    border: none;
    border-bottom: 2px solid #0085E6;
    margin-right: 10px;
    outline: none;
    text-align: center;
    font-size: 20px;
    &.error {
      color: #ff4548;
    }
  }
  .input-span {
    font-weight: 600;
  }
}
.instr-time-box {
  margin: 15px 0;
}
.instr-time {
  overflow: hidden;
  width: 327px;
  padding: 6px 0;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  border-radius: 46px;
  margin: 0 auto;
  padding-right: 44px;
  .instr-img {
    width: 155px;
    height: 79px;
    float: left;
    margin-left: 44px;
  }
  .instr-des {
    color: #999999;
    line-height: 20px;
    text-align: center;
    margin-top: 13px;
  }
  .instr-itme {
    color: #333333;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }
}
.xc-blue {
  color: #33CBB4;
}
.xc-head-select {
  display: inline-block;
  line-height: 34px;
  border: 1px solid rgba(235, 235, 235, 1);
  width: 90px;
  padding: 0 15px;
  border-radius: 18px;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
  z-index: 999999;

  .xc-head-selectImg {
    position: absolute;
    right: 10px;
    top: 13px;
    width: 12px;
    transition: all linear 0.2s;
  }
  .xc-head-select-ul {
    z-index: 999999;
    display: none;
    position: absolute;
    width: 100%;
    top: 36px;
    left: 0;
    background-color: #fff;
    li {
      text-indent: 15px;
      &.active {
        color: #0085e6;
      }
    }
    border-radius: 6px;
    box-shadow: 0 3px 7px 1px rgb(235, 235, 235);
  }
  &.select {
    .xc-head-select-ul {
      display: block;
    }
    .xc-head-selectImg {
      transform: rotate(180deg)
    }
  }
}
/* 小牧update */
.readText-write-item {
  display: inline-block;
  margin-left: 20px;
  position: relative;
  top: -20px;
  line-height: 20px;
  padding-bottom: 5px;
  border-bottom: 3px solid rgba(0, 133, 230, 1);
  input{
    width: 66px;
    height: 42px;
    line-height: 42px;
    font-size: 30px;
    border: none;
    background: none;
    outline: none;
    text-align: center;
    margin: 0;
    padding: 0;
    &:focus {
      background: #d9efff;
    }
  }
}
.en-word i {
  font-size: 40px;
  font-style: initial;
  margin-left: 5px;
  position: relative;
  top: -7px;
}
.readText-example a {
  font-size: 16px;
  line-height: 22px;
  color: #666;
  background-color: rgba(250, 250, 251, 1);
  border-radius: 13px;
  display: inline-block;
  margin-right: 10px;
}
.readText-example span.txt {
  font-size: 16px;
  word-spacing: 16px;
  color: #666666;
}
.readText-listen{
  font-size: 14px;
  font-weight: 400;
  color: #999;
}
.readText-listen-img{
  width: 46px;
  margin-right: 20px;
}
.minH600 {
  min-height: 600px;
  .course-body-box {
    min-height: 600px;
    background-color: #fff;
  }
}
.pronunciation-item {
  ul {
    margin-top: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  li {
    width: 88px;
    line-height: 44px;
    text-align: center;
    font-size: 16px;
    color: #333;
    float: left;
    font-weight: 600;
    display: inline-block;
    a {
      color: #333;
    }
    img {
      display: block;
      height: auto;
      width: 100%;  
    }
    &:first-child {
      margin-right: 110px;
    }
  }
  .pronunciation-tit {
    margin-top: 70px;
    display: block;
    overflow: hidden;
    text-align: center;
    img {
      width: 209px;
      height: 165px;
    }
  }
  &.pronunciation-item-2 {
    ul {
      margin-top: 38px;
      &:first-child {
        margin-top: 60px;
        li {
          margin-right: 88px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .pronunciation-tit {
      margin-top: 40px;
    }
  }
  &.pronunciation-item-3 {
    ul {
      margin-top: 30px;
      &:first-child {
        margin-top: 79px;
      }
      li {
        margin-right: 50px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .pronunciation-tit {
      margin-top: 30px;
    } 
  }
  &.pronunciation-item-4 {
    li {
      width: 100px;
      img {
        width: 88px;
      }
    }
  }
}
.xc_center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 !important;
}
.xc_center_wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  height: auto !important;
}
.xc-location-box {
  color: #333;
  .xc-location-tit {
    height: 28px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
  }
}
.xc-loctioan-pay-box {
  margin: 10px 0;
  img {
    width: 50px;
    height: auto;
  }
  line-height: 50px;
  font-size: 14px;
  color: #999;
  .xc-loctioan-status {
    margin-right: 10px;
    color: #666666;
  }
  .xc-loctioan-pay {
    display: inline-block;
  }
  .xc-loctioan-tit {
    overflow: hidden;
    color: #333333;
    margin-top: 10px;
  }
  .xc-location-p {
    color: #333333;
    font-size: 16px;
    line-height: 22px;
  }
}
.xc-loctioan-table {
  table {
    border-top: 1px solid #EBEBEB;
    border-left: 1px solid #EBEBEB;
    line-height: 40px;
    text-align: center;
    width: 100%;
  }
  th {
    color: #666;
    font-size: 16px;
    font-weight: 600;
    border-right: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    box-sizing: border-box;
  }
  tbody {
    font-size: 14px;
    color: #666;
  }
  tr {
    border-bottom: 1px solid #EBEBEB;
  }
  td {
    border-right: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    box-sizing: border-box;
  }
  &.small-table {
    width: 660px;
    th {
      width: 330px;
    }
  }
}
.readText-example {
  a {
    display: inline-block;
    background-color: #d8d4d4;
    display: inline-block;
    color: #333333;
    border-radius: 8px;
    width: 50px;
    text-align: center;
  }
}
.zpflex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 0px !important;
  > div {
    width: 370px;
    margin-bottom: 30px;
  }
  .xc-coustom-pent + .xc-coustom-pent {
    margin-top: 0;
  }
  .xc-review-img {
    float: right;
    margin-right: 20px;
  }
}
.xc-red {
  color: red;
}
.perview-left-width {
  width: 500px;
}
.xc-practice-img {
  display: inline-block;
  width: 36px;
  height: auto;
  vertical-align: top;
  margin-top: 26px;
}
.xc-practice-true {
  color: #666666;
}
.change_course_details-list {
  display: none;
  &.active {
    display: block;
  }
  .xc-details_table {
    padding: 28px 0;
  }
}
.xc-table-list {
  cursor: pointer;
  &.active {
    td {
      color: #0085e6;
    }
  }
}
.xc-33 {
  width: 33%;
  display: inline-block;
  box-sizing: border-box;
  float: left;
}
.xc-66 {
  width: 66%;
  display: none;
  box-sizing: border-box;
  &.active {
    display: inline-block;
  }
}