@charset "UTF-8";

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

button {
  border: none;

  &:focus {
    outline: 0;
  }
}

.register-body {
  .login-ipt-small {
    width: 180px;
    height: 46px;
    border-radius: 23px;
    text-indent: 20px;
    border: 1px solid #d7d7d7;
    margin-bottom: 22px;
  }

  .getcode-btn {
    display: inline-block;
    width: 132px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    background: #f2f2f2;
    border-radius: 23px;
    font-size: 16px;
    color: #999;
    margin-left: 20px;
  }
}

.body-login,
.body-register {
  .none {
    display: none;
  }

  .login-hd {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: rgba(43, 56, 69, 1);
  }

  .login-body,
  .register-body {
    width: 100%;
    height: 680px;
    background: linear-gradient(-126.5deg, rgba(118, 221, 254, 1), rgba(2, 120, 205, 1));
  }

  .login-ct,
  .register-ct {
    width: 1200px;
    height: 680px;
    background: url('../../img/login_bg.png') no-repeat;
    background-size: cover;
    margin: 0 auto;
    position: relative;
  }

  .form-wp {
    width: 420px;
    background: #fff;
    padding: 54px 0;
    border-radius: 8px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -200px;
  }

  .login-form {
    width: 338px;
    margin: 0 auto;
  }

  .form-title {
    font-size: 20px;
    color: #333;
    margin-bottom: 26px;
  }

  .login-ipt {
    width: 338px;
    height: 46px;
    border-radius: 23px;
    border: 1px solid #d7d7d7;
    text-indent: 20px;

    &:nth-of-type(1) {
      margin-bottom: 26px;
    }

    &:nth-of-type(2) {
      margin-bottom: 22px;
    }
  }

  .errcue {
    color: #ff4548;
    font-size: 14px;
    margin-top: -12px;
    margin-bottom: 22px;

    .err-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      color: #fff;
      background: #ff4548;
      margin-right: 12px;
      border-radius: 50%;
      margin-left: 20px;
    }
  }

  .login-btn {
    display: block;
    width: 338px;
    height: 46px;
    line-height: 46px;
    background: #0085e6;
    border-radius: 23px;
    text-align: center;
    color: #fff;
    margin-bottom: 14px;
  }

  .forgetpwd {
    font-size: 14px;
    color: #999;
    float: left;
    margin-left: 20px;
  }

  .register-link {
    font-size: 14px;
    color: #0085e6;
    float: right;
    margin-right: 20px;
  }
}

.footer {
  width: 100%;
  background: #2b3845;
  padding-top: 54px;
  padding-bottom: 50px;

  .footer-ct {
    width: 1200px;
    margin: 0 auto;
  }

  .tel-wp {
    text-align: center;
    font-size: 25px;
    color: #c8cccf;
    margin-bottom: 22px;
  }

  .logo {
    display: inline-block;
    width: 164px;
    margin-right: 48px;
  }

  .foot-tel {
    width: 21px;
    margin-right: 14px;
  }

  .ads-wp {
    margin-bottom: 10px;
    color: #717c83;
    font-size: 14px;
    text-align: center;

    .name {
      margin-right: 34px;
    }
  }

  .record {
    color: #717c83;
    font-size: 14px;
    text-align: center;
  }
}

.body-myclass {
  .head-wp {
    width: 1200px;
    height: 98px;
    line-height: 98px;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin: 0 auto 15px;
  }

  .hd-icon {
    width: 34px;
    margin-left: 30px;
    margin-right: 4px;
  }

  .myclass {
    font-size: 16px;
    color: #333;
    margin-right: 30px;
  }

  .schoolname,
  .ads {
    font-size: 14px;
    color: #666;
  }

  .ads {
    margin-right: 10px;
  }

  .grade {
    font-size: 14px;
    color: #333;
  }

  .hd-left {
    float: left;
  }

  .hd-right {
    float: right;
    margin-right: 80px;
  }

  .line {
    display: inline-block;
    height: 50px;
    border-left: 1px solid #ebebeb;
    margin-right: 30px;
  }

  .headmaster-icon {
    width: 46px;
    margin-right: 10px;
  }

  .headmaster-title {
    font-size: 16px;
    color: #333;
    line-height: 1;
    margin-bottom: 10px;
  }

  .headmaser-name {
    font-size: 14px;
    color: #666;
    line-height: 1;
  }

  .headmaster-wp,
  .line,
  .headmaster-icon {
    float: left;
    position: relative;
    top: 24px;
  }

  .class-table-wp {
    width: 1200px;
    margin: 0 auto;
  }

  .table-hd {
    font-size: 20px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    background: #1393f0;
    border-radius: 8px 8px 0 0;
    text-indent: 30px;
  }

  th {
    font-weight: normal;
    color: #666;
    font-size: 16px;
    height: 50px;

    &:nth-of-type(1) {
      width: 146px;
    }

    &:nth-of-type(2) {
      width: 184px;
    }

    &:nth-of-type(3) {
      width: 146px;
    }

    &:nth-of-type(4) {
      width: 146px;
    }

    &:nth-of-type(5) {
      width: 146px;
    }

    &:nth-of-type(6) {
      width: 146px;
    }

    &:nth-of-type(7) {
      width: 146px;
    }

    &:nth-of-type(8) {
      width: 146px;
    }
  }

  .class-table {
    background: #fff;

    tr {
      &:nth-of-type(odd) {
        background: #fbfbfb;
      }

      &:nth-of-type(even) {
        background: #fff;
      }
    }
  }

  .schoolmate {
    width: 36px;
  }

  td {
    font-size: 14px;
    color: #666;
    text-align: center;
  }

  .lv {
    display: inline-block;
    width: 60px;
    height: 20px;
    font-size: 14px;
    background: #0085e6;
    color: #fff;
    text-align: center;
    line-height: 20px;
    border-radius: 10px;
  }

  .integral {
    color: #eeb843;
  }

  .ranking {
    color: #338bcb;
  }
}
