@charset "UTF-8";
/* 表格相关 */
.nodecation:hover {
  text-decoration: none;
}
.upload-img {
  max-width: 50px;
}
.xc-table {
  border: 1px solid #eeeeee;
  overflow: hidden;
}
.xc-table ul {
  padding: 0;
  margin: 0;
}
.xc-table .btn + .btn {
  margin-right: 5px;
}
.xc-table li {
  list-style: none;
  padding: 12px 10px 12px 25px;
  line-height: 33px;
}
.xc-table .xc-table-head {
  overflow: hidden;
  background-color: rgba(243, 243, 243, 1);
}
.xc-table .xc-table-head li {
  border-right: 1px solid #eeeeee;
  padding-top: 18px;
  padding-bottom: 18px;
}
.xc-table-body {
  background-color: #fff;
}
.xc-table-body .col-xs-4,
.xc-table-body .col-xs-2 {
  padding: 0px;
}
.xc-table-body > div + div {
  border-left: 1px solid #eeeeee; 
}
.xc-table-body > ul {
  position: relative;
}
.xc-table-body .one ul {
  position: absolute;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}
.xc-table-body .one .two {
  width: calc(100% / 3);
  left: calc(100% / 6);
  top: 0;
}
.xc-table-body .one .four {
  left:  100%;
  top: 0;
  width: calc(50% + 2px);
}
.xc-table-body .one .four li {
  border-right: none;
}
.xc-table-body .one .three {
  width: calc(100% + 3px);
  left:  100%;
  top: 0;
}
.xc-table-body .one .three.big {
  width: calc(150% + 5px)
}
.xc-table-body .one ul {
  display: none;
}
.xc-table-body li {
  color: #656565;
}
.xc-table-body .active {
  color: #999999;
}
.xc-table-body .active > ul {
  display: block;
}
.xc-table-body .one {
  width: 16.6666667%;
}
.xc-table-body li {
  border-bottom: 1px solid #eeeeee;
  background-color: #fff;
  z-index: 100;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}
/* 表格相关 */
/* 单词列表 表格 */
.table-words {
  color: #666666;
  margin-top: 10px;
}
.table-words thead {
  background-color: rgba(243, 243, 243, 1);
}
.table-words .blue {
  color: #009900;
}
.table-words .end {
  color: #ccc;
}
.table-words .xc-red {
  color: #FF0000;
}
.table-words .col {
  background-color: #dcaf31;
  color: #000;
}
.table-words .base {
  background-color: rgba(255, 204, 0, 0.298039215686275)
}
.table-words > thead > tr > th {
  font-weight: 200;
  color: #666666;
}
.table-words .form-control {
  width: 60px;
  color: #ccc;
  background-color: #fff;
  border-color: #ccc;
}
.table-words tbody {
  background-color: #fff;
}
.table-words .btn + .btn {
  margin-right: 5px;
}
/* 单词列表 表格 end */
/* 真题冲刺 start*/

.xc-text-group {
  float: none;
  padding-top: 20px;
}

.xc-text-item {
  text-align: center;
  padding: 80px 0;
  width: 100%;
  border: 1px solid rgba(235, 235, 235, 1);
  border-radius: 4px;
  margin-bottom: 20px;
  position: relative;
  height: 40px;
}
.xc-text-item .error {
  color: #FF0000;
}
.xc-text-item a{
  color: #656565;
  text-decoration: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 60px 0;
}

/* 真题冲刺 end */
/* xc-tab tab切換start */
.xc-tab {
  overflow: hidden;
  background-color: #fff;
}
.xc-tab ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.xc-tab .xc-tab-head {
  line-height: 30px;
  border-bottom: 1px solid rgba(235, 235, 235, 1);
  color: #989898;
  position: relative;
}
.xc-tab .xc-tab-head .line {
  position: absolute;
  height: 2px;
  display: inline-block;
  width: 105px;
  background-color: #108EE9;
  bottom: 0;
  left: 0;
  transition: all 0.2s;
}
.xc-tab .xc-read .line {
  width: 60px;
}
.xc-tab .xc-tab-head li {
  display: inline-block;
  width: 105px;
  text-align: center;
  cursor: pointer;
}
.xc-tab .xc-bas li {
  position: relative;
}
.xc-tab .xc-bas li.active::after {
  display: inline-block;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #108EE9;
  position: absolute;
  left: 0;
  bottom: 0;
}
.xc-tab .xc-bas li a{
  color: #989898;
  display: inline-block;
  width: 100%;
}
.xc-tab .xc-bas li.active a,
.xc-tab .xc-bas li:hover a{
  color: #108EE9;
  text-decoration: none;
}
.xc-tab .xc-bas li,
.xc-tab .xc-read li{
  width: 60px;
}
.xc-tab .xc-bas .active {
  color: #108EE9;
}
.xc-tab .xc-tab-body li {
  display: none;
  padding-top: 10px;
}
.xc-tab .xc-tab-body li.active {
  display: block;
}
.xc-tab .xc-tab-body .form-horizontal > div {
  overflow: hidden
}
.xc-tab .tab-input-group .col-xs-1{
  padding: 0;
}
.xc-tab .tab-input-group .col-xs-1 + .col-xs-1{
  margin-left: 10px;
}
.xc-tab .tab-input-group > div {
  overflow: hidden;
  margin-bottom: 10px;
}
.xc-tab .form-group-box {
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid rgba(102, 102, 102, 0.34901);
  box-shadow: 0px 0px 5px rgba(102, 102, 102, 0.34901);
  margin: 10px 0;
  padding-top: 10px;
}
.xc-tab .error,
.xc-questions .error,
.xc-error {
  margin: 5px 0;
  color: #FF0000;
}
/* tab切換end */
/* 搞定语法单选题、填空题start */
.ml5 {
  margin-left: 5px;
}
.xc-questions {
  padding: 0;
  margin: 0;
  list-style: none;
}
.xc-questions li {
  border-radius: 4px;
  border: 1px solid rgba(102, 102, 102, 0.34901);
  box-shadow: 0px 0px 5px rgba(102, 102, 102, 0.34901);
  margin: 10px 0;
  padding: 10px 0;
}
.xc-questions li h4 {
  margin: 0;
  padding: 0;
  line-height: 33px;
}
.xc-questions li .text-primary,.xc-questions .head {
  line-height: 33px;
  cursor: pointer;
}
.xc-questions .fillblank {
  display: inline-block;
  width: 100px;
  border-bottom: 1px solid #000;
  height: 24px;
  vertical-align: top;
}
.xc-questions .tit {
  color: #999999;
}
.xc-questions li input:checked + p {
  color: #009900;
}
/* 搞定语法单选题、填空题end */
/* 听力测试start */
.xc-headring form {
  padding-top: 10px;
}
.xc-headring ul {
  overflow: hidden;
  padding: 0;
  margin: 0;
  list-style: none;
}
.xc-headring ul li {
  overflow: hidden;
  padding-top: 10px;
  border-top: 1px solid rgba(102, 102, 102, 0.34901);
}
/* 听力测试end */
/* 学员组课程管理start */
.xc-stu-group .switch input:checked + span {
  background-color: rgba(135, 208, 104, 1);
  border-color: rgba(135, 208, 104, 1);
}
.xc-stu-group .switch span {
  background-color: rgba(204, 204, 204, 1);
  border-color: rgba(204, 204, 204, 1);
}
/* 学员组课程管理end */
/* 弹框相关 */
.clearfix::after {
  content: ' ';
  display: block;
  clear: both;
  height: 0;
}

.clearfix {
  zoom: 1;
}

.sweet-alert input {
  height: 35px;
  margin-top: 0;
  margin-bottom: 0;
}

.sweet-alert fieldset {
  display: none !important;
}

.sweet-alert {
  width: 600px;
}

.table > tbody > tr > .reason {
  height: 51px;
  max-width: 240px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table > tbody > tr > .reason:hover {
  height: 51px;
  max-width: 240px;
  overflow: auto;
  white-space: normal;
  text-overflow: initial;
}

.recharge-body .sweet-alert {
  width: 800px;
}

.recharge-body .sweet-alert .text-danger {
  color: #f05050;
}

.coursemanagement-list {
  padding: 10px 0 0;
  margin-bottom: 21px;
  background: #fff;
}

.coursemanagement-wp .panel {
  margin-bottom: 0;
}

.coursemanagement-list .panel-heading {
  padding: 0px 15px;
}

.wj-a {
  color: #000;
  padding: 5px 10px;
}

.wj-a-active {
  color: #0085e6;
  border-bottom: 2px solid #0085e6;
}

.padding-10 {
  padding: 10px 0;
}

.mb-20 {
  margin-bottom: 20px;
}

.foot-img {
  width: 100%;
  max-height: 200px;
}

.mall-body .sweet-alert {
  width: 800px;
}

.mall-body .sweet-alert .title-p {
  text-align: left;
  font-weight: bold;
  padding: 5px 0;
}

.mall-body .sweet-alert .record-table {
  max-height: 500px;
  overflow-y: scroll;
}

.nodecation:hover {
  text-decoration: none;
}

.white-color {
  color: #fff;
}

.white-color:hover {
  color: #fff;
}

.normalcolor {
  color: #515253;
}

.normalcolor:hover {
  color: #515253;
}

.width-100 {
  display: inline-block;
  width: 100px;
}

.table-bordered {
  border: 1px solid #eee !important;
}

.form-lineH .radio label,
.form-lineH .radio-inline label {
  line-height: 20px;
}

.datetimepicker.pdlr-15 {
  padding: 0 15px;
}

.btm15 {
  position: relative;
  top: -15px;
}
/* 弹框相关END */
.xc-mb10 {
  margin-bottom: 10px;
}
.xc-bas-item {
  padding: 10px 0;
  border-top: 1px solid #eeeeee;
}
.xc-nowrap {
  white-space: nowrap;
}