@charset "UTF-8";
/* stylelint-disable no-descending-specificity */
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.none {
  display: none !important;
}

button {
  border: none
}

button:focus {
  outline: 0;
}

.register-body .login-ipt-small {
    width: 180px;
    height: 46px;
    border-radius: 23px;
    text-indent: 20px;
    border: 1px solid #d7d7d7;
    margin-bottom: 22px;
  }

.register-body .getcode-btn {
    display: inline-block;
    width: 132px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    background: #f2f2f2;
    border-radius: 23px;
    font-size: 16px;
    color: #999;
    margin-left: 16px;
  }

.body-login input:focus, .body-register input:focus {
  outline: none;
}

.body-login .none, .body-register .none {
    display: none;
  }

.body-login .login-hd, .body-register .login-hd {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: rgba(43, 56, 69, 1);
  }

.body-login .login-body,
  .body-login .register-body,
  .body-register .login-body,
  .body-register .register-body {
    width: 100%;
    height: 680px;
    background: linear-gradient(-126.5deg, rgba(118, 221, 254, 1), rgba(2, 120, 205, 1));
  }

.body-login .login-ct,
  .body-login .register-ct,
  .body-register .login-ct,
  .body-register .register-ct {
    width: 1200px;
    height: 680px;
    background: url('../img/login_bg.png') no-repeat;
    background-size: cover;
    margin: 0 auto;
    position: relative;
  }

.body-login .form-wp, .body-register .form-wp {
    width: 420px;
    background: #fff;
    padding: 54px 0;
    border-radius: 8px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -200px;
  }

.body-login .login-form, .body-register .login-form {
    width: 338px;
    margin: 0 auto;
  }

.body-login .form-title, .body-register .form-title {
    font-size: 20px;
    color: #333;
    margin-bottom: 26px;
  }

.body-login .login-ipt, .body-register .login-ipt {
    width: 338px;
    height: 46px;
    border-radius: 23px;
    border: 1px solid #d7d7d7;
    text-indent: 20px
  }

.body-login .login-ipt:nth-of-type(1), .body-register .login-ipt:nth-of-type(1) {
  margin-bottom: 26px;
}

.body-login .login-ipt:nth-of-type(2), .body-register .login-ipt:nth-of-type(2) {
  margin-bottom: 22px;
}

.body-login .errcue, .body-register .errcue {
    color: #ff4548;
    font-size: 14px;
    margin-top: -12px;
    margin-bottom: 22px;
  }

.body-login .errcue .err-icon, .body-register .errcue .err-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      color: #fff;
      background: #ff4548;
      margin-right: 12px;
      border-radius: 50%;
      margin-left: 20px;
    }

.body-login .login-btn, .body-register .login-btn {
    display: block;
    width: 338px;
    height: 46px;
    line-height: 46px;
    background: #0085e6;
    border-radius: 23px;
    text-align: center;
    color: #fff;
    margin-bottom: 14px;
  }

.body-login .forgetpwd, .body-register .forgetpwd {
    font-size: 14px;
    color: #999;
    float: left;
    margin-left: 20px;
  }

.body-login .register-link, .body-register .register-link {
    font-size: 14px;
    color: #0085e6;
    float: right;
    margin-right: 20px;
  }

.footer {
  width: 100%;
  background: #2b3845;
  padding-top: 54px;
  padding-bottom: 50px;
}

.footer .footer-ct {
    width: 1200px;
    margin: 0 auto;
  }

.footer .tel-wp {
    text-align: center;
    font-size: 25px;
    color: #c8cccf;
    margin-bottom: 22px;
  }

.footer .logo {
    display: inline-block;
    width: 164px;
    margin-right: 48px;
  }

.footer .foot-tel {
    width: 21px;
    margin-right: 14px;
  }

.footer .ads-wp {
    margin-bottom: 10px;
    color: #717c83;
    font-size: 14px;
    text-align: center;
  }

.footer .ads-wp .name {
      margin-right: 34px;
    }

.footer .record {
    color: #717c83;
    font-size: 14px;
    text-align: center;
  }

.body-myclass .wrap {
    background: #fafafb;
    padding-top: 26px;
  }

.body-myclass .head-wp {
    width: 1200px;
    height: 98px;
    line-height: 98px;
    background: #fff;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
    border-radius: 8px;
    margin: 0 auto 15px;
  }

.body-myclass .hd-icon {
    width: 34px;
    margin-left: 30px;
    margin-right: 4px;
  }

.body-myclass .myclass {
    font-size: 16px;
    color: #333;
    margin-right: 30px;
  }

.body-myclass .schoolname,
  .body-myclass .ads {
    font-size: 14px;
    color: #666;
  }

.body-myclass .ads {
    margin-right: 10px;
  }

.body-myclass .grade {
    font-size: 14px;
    color: #333;
  }

.body-myclass .hd-left {
    float: left;
  }

.body-myclass .hd-right {
    float: right;
    margin-right: 80px;
  }

.body-myclass .line {
    display: inline-block;
    height: 50px;
    border-left: 1px solid #ebebeb;
    margin-right: 30px;
  }

.body-myclass .headmaster-icon {
    width: 46px;
    margin-right: 10px;
  }

.body-myclass .headmaster-title {
    font-size: 16px;
    color: #333;
    line-height: 1;
    margin-bottom: 10px;
  }

.body-myclass .headmaser-name {
    font-size: 14px;
    color: #666;
    line-height: 1;
  }

.body-myclass .headmaster-wp,
  .body-myclass .line,
  .body-myclass .headmaster-icon {
    float: left;
    position: relative;
    top: 24px;
  }

.body-myclass .class-table-wp {
    width: 1200px;
    margin: 0 auto 58px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
    border-radius: 10px;
    overflow: hidden;
  }

.body-myclass .sort-icon {
    width: 9px;
    margin-left: 4px;
  }

.body-myclass .table-hd {
    font-size: 20px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    background: #1393f0;
    border-radius: 8px 8px 0 0;
    text-indent: 30px;
  }

.body-myclass th {
    font-weight: normal;
    color: #666;
    font-size: 16px;
    height: 50px
  }

.body-myclass th:nth-of-type(1) {
  width: 146px;
}

.body-myclass th:nth-of-type(2) {
  width: 184px;
}

.body-myclass th:nth-of-type(3) {
  width: 146px;
}

.body-myclass th:nth-of-type(4) {
  width: 146px;
}

.body-myclass th:nth-of-type(5) {
  width: 146px;
}

.body-myclass th:nth-of-type(6) {
  width: 146px;
}

.body-myclass th:nth-of-type(7) {
  width: 146px;
}

.body-myclass th:nth-of-type(8) {
  width: 146px;
}

.body-myclass .class-table {
    background: #fff;
  }

.body-myclass .class-table tr:nth-of-type(odd) {
  background: #fbfbfb;
}

.body-myclass .class-table tr:nth-of-type(even) {
  background: #fff;
}

.body-myclass .schoolmate {
    width: 36px;
  }

.body-myclass td {
    font-size: 14px;
    color: #666;
    text-align: center;
    height: 50px;
  }

.body-myclass .lv {
    display: inline-block;
    width: 60px;
    height: 20px;
    font-size: 14px;
    background: #0085e6;
    color: #fff;
    text-align: center;
    line-height: 20px;
    border-radius: 10px;
  }

.body-myclass .integral {
    color: #eeb843;
  }

.body-myclass .ranking {
    color: #338bcb;
  }

.body-oralpractice .wrap, .body-preview .wrap, .body-readsetene .wrap {
    background: #fafafb;
  }

.body-oralpractice .main, .body-preview .main, .body-readsetene .main {
    width: 1200px;
    margin: 0 auto;
  }

.body-oralpractice .page-title, .body-preview .page-title, .body-readsetene .page-title {
    text-indent: 30px;
    height: 54px;
    line-height: 54px;
  }

.body-oralpractice .grey-link, .body-preview .grey-link, .body-readsetene .grey-link {
    color: #999;
  }

.body-oralpractice .normal-link, .body-preview .normal-link, .body-readsetene .normal-link {
    color: #333;
  }

.body-oralpractice .practice-wp, .body-preview .practice-wp, .body-readsetene .practice-wp {
    width: 1200px;
    background: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
    border-radius: 8px;
    padding-top: 42px;
    padding-bottom: 115px;
    margin-bottom: 56px;
  }

.body-oralpractice .practice-ct, .body-preview .practice-ct, .body-readsetene .practice-ct {
    width: 720px;
    margin: 0 auto;
  }

.body-oralpractice .summary-wp, .body-preview .summary-wp, .body-readsetene .summary-wp {
    width: 327px;
    height: 80px;
    padding-top: 12px;
    background: rgba(253, 253, 253, 1);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
    border-radius: 46px;
    margin: 0 auto 30px;
  }

.body-oralpractice .clock-img, .body-preview .clock-img, .body-readsetene .clock-img {
    float: left;
    width: 110px;
    margin: 0 22px 0 50px;
  }

.body-oralpractice .time-wp, .body-preview .time-wp, .body-readsetene .time-wp {
    float: left;
  }

.body-oralpractice .time-wp .time-txt, .body-preview .time-wp .time-txt, .body-readsetene .time-wp .time-txt {
      font-size: 14px;
      color: #999;
      margin-bottom: 6px;
    }

.body-oralpractice .time-wp .txt, .body-preview .time-wp .txt, .body-readsetene .time-wp .txt {
      color: #333;
      margin-left: 10px;
    }

.body-oralpractice .practice-main, .body-preview .practice-main, .body-readsetene .practice-main {
    width: 900px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #ebebeb;
    margin: 0 auto;
    overflow: hidden;
  }

.body-oralpractice .practice-title, .body-preview .practice-title, .body-readsetene .practice-title {
    height: 50px;
    line-height: 50px;
    background: #0085e6;
    margin-bottom: 40px;
  }

.body-oralpractice .practice-title .title, .body-preview .practice-title .title, .body-readsetene .practice-title .title {
      font-size: 20px;
      color: #fff;
      height: 30px;
      line-height: 30px;
      padding-right: 30px;
      border-right: 1px solid #58b0f1;
      margin-right: 30px;
      margin-left: 30px;
    }

.body-oralpractice .practice-title .unit, .body-preview .practice-title .unit, .body-readsetene .practice-title .unit {
      font-size: 14px;
      color: #fff;
    }

.body-oralpractice .practice-title a, .body-preview .practice-title a, .body-readsetene .practice-title a {
      float: right;
      width: 35px;
      height: 35px;
      position: relative;
      top: 7px;
    }

.body-oralpractice .practice-title .close-icon, .body-preview .practice-title .close-icon, .body-readsetene .practice-title .close-icon {
      background: url('../img/close_icon.png') no-repeat;
      background-size: cover;
      margin: 0 30px 0 0;
    }

.body-oralpractice .practice-title .question-icon, .body-preview .practice-title .question-icon, .body-readsetene .practice-title .question-icon {
      background: url('../img/question_icon.png') no-repeat;
      background-size: cover;
    }

.body-oralpractice .progress-wp, .body-preview .progress-wp, .body-readsetene .progress-wp {
    width: 720px;
    background: #ebebeb;
    height: 6px;
    border-radius: 3px;
    margin-bottom: 27px;
  }

.body-oralpractice .progress-wp .progress-ct, .body-preview .progress-wp .progress-ct, .body-readsetene .progress-wp .progress-ct {
      position: relative;
      background: #0085e6;
      width: 360px;
      height: 6px;
      border-radius: 3px;
    }

.body-oralpractice .progress-wp .percent, .body-preview .progress-wp .percent, .body-readsetene .progress-wp .percent {
      font-size: 14px;
      color: #0085e6;
      position: absolute;
      right: -15px;
      top: -20px;
    }

.body-oralpractice .summary-ul, .body-preview .summary-ul, .body-readsetene .summary-ul {
    padding-bottom: 30px;
  }

.body-oralpractice .summary-ul li, .body-preview .summary-ul li, .body-readsetene .summary-ul li {
      float: left;
      color: #666;
      font-size: 14px;
    }

.body-oralpractice .summary-ul li .txt, .body-preview .summary-ul li .txt, .body-readsetene .summary-ul li .txt {
        color: #333;
        margin-left: 6px;
      }

.body-oralpractice .summary-ul li:last-of-type, .body-preview .summary-ul li:last-of-type, .body-readsetene .summary-ul li:last-of-type {
  float: right;
}

.body-oralpractice .summary-ul li:nth-of-type(1), .body-preview .summary-ul li:nth-of-type(1), .body-readsetene .summary-ul li:nth-of-type(1) {
  margin-right: 53px;
}

.body-oralpractice .summary-ul li:nth-of-type(2), .body-preview .summary-ul li:nth-of-type(2), .body-readsetene .summary-ul li:nth-of-type(2) {
  margin-right: 80px;
}

.body-oralpractice .summary-ul .duration-img,
    .body-oralpractice .summary-ul .newword-img,
    .body-oralpractice .summary-ul .hourglass-img,
    .body-preview .summary-ul .duration-img,
    .body-preview .summary-ul .newword-img,
    .body-preview .summary-ul .hourglass-img,
    .body-readsetene .summary-ul .duration-img,
    .body-readsetene .summary-ul .newword-img,
    .body-readsetene .summary-ul .hourglass-img {
      width: 19px;
      margin-right: 4px;
    }

.body-oralpractice .mr-10, .body-preview .mr-10, .body-readsetene .mr-10 {
    margin-right: 10px;
  }

.body-preview .perview-left {
    float: left;
  }

.body-preview .perview-left .horn-wp {
      height: 36px;
      line-height: 36px;
      font-size: 14px;
      color: #666;
      margin-bottom: 50px;
    }

.body-preview .perview-left .horn-a {
      display: inline-block;
      width: 42px;
      height: 36px;
      margin-right: 23px;
      background: url('../img/horn_gery.png') no-repeat;
      background-size: cover;
    }

.body-preview .perview-left .pause {
      background: url('../img/horn_active.png') no-repeat;
      background-size: cover;
    }

.body-preview .perview-left .horn-cue {
      display: inline-block;
      vertical-align: top;
    }

.body-preview .perview-left .en-txt {
      margin-bottom: 14px;
      font-size: 30px;
      color: #333;
    }

.body-preview .perview-left .cn-txt {
      font-size: 20px;
      color: #666;
    }

.body-preview .preview-right {
    float: right;
  }

.body-preview .preview-right .next-wp {
      padding-top: 45px;
    }

.body-preview .preview-right .next-img {
      width: 64px;
      margin-bottom: 6px;
      cursor: pointer;
    }

.body-preview .preview-right .next-txt {
      color: #0085e6;
      font-size: 20px;
      width: 64px;
      text-align: center;
    }

.body-preview .preview-right .konw-wp {
      padding-top: 55px;
    }

.body-preview .preview-right .know-txt {
      width: 135px;
      text-align: center;
      color: #333;
      font-size: 20px;
      margin-bottom: 38px;
    }

.body-preview .preview-right .yes-btn,
    .body-preview .preview-right .no-btn {
      display: inline-block;
      width: 50px;
      height: 50px;
    }

.body-preview .preview-right .yes-btn {
      background: url('../img/yes_icon.png') no-repeat;
      background-size: cover;
      margin-right: 35px;
    }

.body-preview .preview-right .no-btn {
      background: url('../img/no_icon.png') no-repeat;
      background-size: cover;
    }

.body-preview .preview-right .correct-wp {
      padding-top: 55px;
    }

.body-preview .preview-right .correct-wp .correct-txt {
        color: #333;
        font-size: 20px;
        margin-bottom: 38px;
      }

.body-preview .preview-right .correct-wp .yes-btn {
        background: url('../img/correct_icon.png') no-repeat;
        background-size: cover;
        margin: 0 35px 0 10px;
      }

.body-preview .preview-right .correct-wp .no-btn {
        background: url('../img/fault_icon.png') no-repeat;
        background-size: cover;
      }

.body-oralpractice .word-left {
    float: left;
    width: 434px;
    padding-bottom: 40px;
  }

.body-oralpractice .word-left .word {
      font-size: 62px;
      color: #333;
    }

.body-oralpractice .word-left .word-cue {
      font-size: 30px;
      color: #666;
      margin-bottom: 26px;
    }

.body-oralpractice .word-left .word-txt {
      font-size: 14px;
      color: #666;
      margin-bottom: 10px
    }

.body-oralpractice .word-left .word-txt:last-of-type {
  margin-bottom: 0;
}

.body-oralpractice .word-left .word-list {
      color: #0085e6;
      margin-right: 17px;
    }

.body-oralpractice .opearte-right {
    float: right;
  }

.body-oralpractice .opearte-right .img-wp {
      height: 120px;
    }

.body-oralpractice .soundrecord-img {
    width: 286px;
  }

.body-oralpractice .soundrecord-txt {
    font-size: 14px;
    color: #0085e6;
    text-align: center;
  }

.body-oralpractice .soundanalyse-img {
    float: left;
    width: 52px;
    height: 63px;
    margin-right: 5px;
  }

.body-oralpractice .soundanalyse-txt {
    font-size: 14px;
    color: #0085e6;
    height: 63px;
    line-height: 63px;
  }

.body-oralpractice .soundresult-img {
    width: 56px;
    margin-right: 24px;
    float: left;
  }

.body-oralpractice .spundresult-txtwp {
    float: left;
    color: #ff4548;
    font-size: 16px;
  }

.body-oralpractice .spundresult-txtwp .score {
      font-size: 30px;
    }

.body-oralpractice .spundresult-txtwp .soundresult-txt {
      font-size: 14px;
      color: #666;
    }

.body-oralpractice .sound-result,
  .body-oralpractice .sound-analyse {
    margin-left: 30px;
  }

.body-oralpractice .btn-ul {
    margin-left: 16px;
  }

.body-oralpractice .btn-ul li {
      float: left;
      width: 80px;
      text-align: center;
    }

.body-oralpractice .btn-ul li a {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-bottom: 8px;
      }

.body-oralpractice .btn-ul li:nth-of-type(1) a {
          background: url('../img/playsound.png') no-repeat;
          background-size: cover;
}

.body-oralpractice .btn-ul li:nth-of-type(2) a {
          background: url('../img/speak.png') no-repeat;
          background-size: cover;
}

.body-oralpractice .btn-ul li:nth-of-type(3) a {
          background: url('../img/play.png') no-repeat;
          background-size: cover;
}

.body-oralpractice .btn-ul li.active .btn-txt {
          color: #0085e6;
}

.body-oralpractice .btn-ul li.active:nth-of-type(1) a {
            background: url('../img/playsound_active.png') no-repeat;
            background-size: cover;
}

.body-oralpractice .btn-ul li.active:nth-of-type(2) a {
            background: url('../img/speak_active.png') no-repeat;
            background-size: cover;
}

.body-oralpractice .btn-ul li.active:nth-of-type(3) a {
            background: url('../img/play_active.png') no-repeat;
            background-size: cover;
}

.body-oralpractice .btn-ul li .btn-txt {
        font-size: 14px;
        color: #666;
        text-align: center;
}

.body-wordfail .wrap {
    background: #fafafb;
  }

.body-wordfail .main {
    width: 1200px;
    margin: 0 auto;
  }

.body-wordfail .page-title {
    text-indent: 30px;
    height: 54px;
    line-height: 54px;
  }

.body-wordfail .grey-link {
    color: #999;
  }

.body-wordfail .normal-link {
    color: #333;
  }

.body-wordfail .result-wp {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
    padding-top: 56px;
    padding-bottom: 30px;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 1);
  }

.body-wordfail .failcry {
    width: 258px;
    margin-left: 400px;
    margin-right: 10px;
    float: left;
  }

.body-wordfail .failright-wp {
    float: left;
    margin-bottom: 40px;
  }

.body-wordfail .fail-title {
    font-size: 20px;
    color: #333;
  }

.body-wordfail .fail-txt {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
  }

.body-wordfail .getscore {
    font-size: 14px;
    color: #333;
  }

.body-wordfail .getscore .score {
      font-size: 30px;
      color: #ff4548;
      margin-left: 6px;
      margin-bottom: 10px;
    }

.body-wordfail .fail-txt2 {
    color: #999;
    font-size: 14px;
  }

.body-wordfail .txt1 {
    margin-right: 5px;
  }

.body-wordfail .fail-cue {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-bottom: 16px;
  }

.body-wordfail .gotostudy {
    display: block;
    width: 188px;
    height: 36px;
    background: #0085e6;
    border-radius: 23px;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    color: #fff;
    margin: 0 auto;
  }

.body-wordfail .part-title {
    height: 50px;
    line-height: 50px;
    background: #0085e6;
    color: #fff;
    text-indent: 30px;
  }

.body-wordfail .part-title .titl1 {
      margin-right: 27px;
    }

.body-wordfail .part-title .title2 {
      height: 30px;
      line-height: 30px;
      border-left: 1px solid #fff;
      padding-left: 30px;
    }

.body-wordfail .part1-wp {
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
    padding-bottom: 30px;
    margin-bottom: 15px;
    background: #fff;
  }

.body-wordfail .part2-wp {
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
    padding-bottom: 30px;
    background: #fff;
    margin-bottom: 15px;
  }

.body-wordfail .success-result {
    color: #33cbb4;
    font-size: 16px;
    text-indent: 30px;
    padding: 18px 0 20px;
  }

.body-wordfail .fail-result {
    font-size: 16px;
    text-indent: 30px;
    padding: 18px 0 20px;
    color: #ff4548;
  }

.body-wordfail .part-ul {
    margin-left: 30px;
  }

.body-wordfail .part-ul li {
      float: left;
      width: 370px;
      height: 140px;
      border-radius: 4px;
      border: 1px solid #ebebeb;
      margin-right: 15px
    }

.body-wordfail .part-ul li:last-of-type {
  margin-right: 0;
}

.body-wordfail .part-ul .horn {
      margin: 0 5px 0 10px;
    }

.body-wordfail .part-ul .horn img {
        width: 28px;
      }

.body-wordfail .part-ul .txt {
      margin-left: 10px;
    }

.body-wordfail .part-ul .title {
      font-size: 14px;
      color: #999;
      padding-left: 30px;
      float: left;
    }

.body-wordfail .part-ul .right-img {
      float: right;
      margin-right: 30px;
      width: 25px;
      position: relative;
      top: 6px;
    }

.body-wordfail .part-ul .title-wp {
      height: 40px;
      line-height: 40px;
      margin-bottom: 28px;
    }

.body-wordfail .part-ul .part-ipt {
      width: 260px;
      height: 36px;
      border-radius: 18px;
      border: 1px solid #d7d7d7;
      margin-left: 30px;
      text-indent: 15px;
      font-size: 14px;
      color: #333
    }

.body-wordfail .part-ul .part-ipt:focus {
  outline: none;
}

.body-wordfail .suceessbtm-wp {
    width: 1138px;
    margin: 30px auto 0;
    border-top: 1px solid #ebebeb;
    padding-top: 28px;
  }

.body-wordfail .learnmoney-img {
    width: 103px;
    margin-bottom: 4px;
  }

.body-wordfail .learnmoney-txt {
    color: #eeb843;
    font-size: 14px;
    text-align: center;
  }

.body-wordfail .success-left {
    width: 103px;
    float: left;
    margin-left: 370px;
    margin-right: 26px;
  }

.body-wordfail .success-right {
    float: left;
  }

.body-wordfail .success-right .txt1 {
      font-size: 16px;
      color: #666;
      margin-bottom: 14px;
    }

.body-wordfail .success-right .txt2 {
      font-size: 16px;
      color: #0085e6;
      margin-bottom: 8px;
    }

.body-wordfail .success-right .txt3 {
      font-size: 14px;
      color: #666;
    }

.body-wordfail .result-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 8px;
    vertical-align: middle;
  }

.body-wordfail .result-right-icon {
    background: url('../img/right_icon.png') no-repeat;
    background-size: cover;
  }

.body-wordfail .result-fail-icon {
    background: url('../img/fail_icon.png') no-repeat;
    background-size: cover;
  }

.body-wordfail .q-explain {
    font-size: 14px;
    color: #999999;
    text-indent: 30px;
    padding-top: 20px;
  }

.content-minheight {
  min-height: 270px;
}

.setencecomb-wp .ipt {
    border: none;
    border-bottom: 3px solid #0085e6;
    width: 66px;
    margin-right: 10px;
    height: 42px;
    text-align: center;
    font-size: 17px;
    margin-bottom: 10px;
  }

.setencecomb-wp .ipt:focus {
  outline: none;
}

.setencecomb-wp .quertion-txt {
    font-size: 30px;
    color: #333;
    margin-right: 15px;
    position: relative;
    top: 5px;
  }

.setencecomb-wp .reset-icon {
    display: inline-block;
    width: 21px;
    height: 17px;
    background: url('../img/combined_icon.png') no-repeat;
    background-size: cover;
    vertical-align: middle;
    margin-right: 3px;
  }

.setencecomb-wp .reset-btn {
    display: inline-block;
    width: 95px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background: #0085e6;
    border-radius: 15px;
    display: none;
  }

.setencecomb-wp .right-icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-left: 10px;
    background: url('../img/right_icon.png') no-repeat;
    background-size: cover;
    position: relative;
    top: 14px;
    margin-right: 5px;
  }

.setencecomb-wp .default-icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-left: 10px;
    background: url('../img/word_fault.png') no-repeat;
    background-size: cover;
    position: relative;
    top: 14px;
    margin-right: 5px;
  }

.setencecomb-wp .sentence-txt {
    display: inline-block;
    width: 66px;
    text-align: center;
    font-size: 16px;
    color: #666;
    margin-right: 10px;
  }

.setencecomb-wp .setence-text-cn {
    font-size: 14px;
    color: #999;
  }

.setencecomb-wp .setence-wp {
    padding-top: 22px;
  }

.setencecomb-wp .right-result-txt {
    margin-bottom: 10px;
    font-size: 16px;
    color: #999;
    padding-top: 22px;
  }

.setencecomb-wp .err-ipt {
    color: #ff4c4f;
  }

.body-readsetene .perview-left {
    float: left;
    padding-top: 30px;
  }

.body-readsetene .perview-left .en-text {
      font-size: 30px;
      color: #333;
      margin-bottom: 26px;
    }

.body-readsetene .perview-left .en-ipt {
      text-indent: 15px;
      border-radius: 18px;
      width: 370px;
      height: 36px;
      font-size: 14px;
      color: #999;
      border: 1px solid #D7D7D7
    }

.body-readsetene .perview-left .en-ipt:focus {
  outline: none;
}

.body-readsetene .perview-left .reset-icon {
      display: inline-block;
      width: 21px;
      height: 17px;
      background: url('../img/combined_icon.png') no-repeat;
      background-size: cover;
      vertical-align: middle;
      margin-right: 3px;
    }

.body-readsetene .perview-left .reset-btn {
      display: inline-block;
      width: 95px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      color: #fff;
      font-size: 16px;
      background: #0085e6;
      border-radius: 15px;
      margin-left: 32px;
    }

.body-readsetene .preview-right {
    float: right;
  }

.body-readsetene .next-wp {
    padding-top: 85px;
  }

.body-readsetene .next-img {
    width: 64px;
    margin-bottom: 6px;
    cursor: pointer;
  }

.body-readsetene .next-txt {
    color: #0085e6;
    font-size: 20px;
    width: 64px;
    text-align: center;
  }

.body-readsetene .result-icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-left: 15px;
    position: relative;
    top: 10px;
  }

.body-readsetene .success {
    background: url('../img/right_icon.png') no-repeat;
    background-size: cover;
  }

.body-readsetene .fail {
    background: url('../img/fail_icon.png') no-repeat;
    background-size: cover;
  }

.body-readsetene .correct-txt {
    font-size: 14px;
    color: #333;
    text-indent: 15px;
    padding-top: 15px;
  }

.body-readsetene .success-txt {
    color: #33cbb4;
  }

.oraltraining-ct {
  min-height: 267px;
}

.oraltraining-ct .oraltraining-left {
    float: left;
  }

.oraltraining-ct .oraltraining-left .oral-txt-en {
      font-size: 30px;
      color: #333;
      margin-bottom: 14px;
      padding-top: 18px;
    }

.oraltraining-ct .oraltraining-left .oral-txt-cn {
      font-size: 20px;
      color: #666;
      margin-bottom: 24px;
    }

.oraltraining-ct .soundrecord-txt {
    font-size: 14px;
    color: #0085e6;
    margin-left: 37px;
  }

.oraltraining-ct .sound-analyse {
    margin-left: 0;
  }

.oraltraining-ct .soundanalyse-txt {
    float: left;
  }

.posttest-part {
  width: 1140px;
  border-radius: 4px;
  border: 1px solid #EBEBEB;
  margin: 0 auto 15px;
  padding-bottom: 20px;
}

.posttest-part .posttest-title {
    text-indent: 30px;
    height: 44px;
    line-height: 44px;
    background: #fbfbfc;
    font-size: 14px;
    color: #666666;
  }

.posttest-part .posttest-ul {
    background: #fff;
    padding-top: 20px;
  }

.posttest-part .posttest-ul li {
      margin-left: 30px;
      margin-bottom: 10px;
      height: 20px;
      font-size: 14px;
      color: #666
    }

.posttest-part .posttest-ul li:last-of-type {
  margin-bottom: 0;
}

.posttest-part .posttest-ul li input {
        display: none;
}

.posttest-part .posttest-ul .right-li {
      color: #33CBB4;
    }

.posttest-part .posttest-ul input[type="radio"] + label {
      display: inline-block;
      position: relative;
      width: 14px;
      margin-right: 10px;
      vertical-align: top;
      cursor: pointer;
    }

.posttest-part .posttest-ul input[type="radio"] + label::before {
      content: "\a0"; /*不换行空格*/
      display: inline-block;
      vertical-align: middle;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 1px solid #D7D7D7;
      line-height: 1;
    }

.posttest-part .posttest-ul input[type="radio"]:checked + label::before {
      background-color: #0085E6;
      background-clip: content-box;
      border: 1px solid #0085E6;
    }

.posttest-part .posttest-ul input[type="radio"]:checked + label::after {
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 50%;
      position: absolute;
      top: 9px;
      left: 6px;
      background: #fff;
      z-index: 11;
    }

.posttest-part2 {
  width: 1140px;
  border-radius: 4px;
  border: 1px solid #EBEBEB;
  padding: 30px 0;
  margin: 0 auto 15px
}

.posttest-part2:last-of-type {
  margin-bottom: 0;
}

.posttest-part2 .completion {
    width: 1080px;
    font-size: 14px;
    color: #666;
    margin: 0 auto;
    line-height: 32px;
}

.posttest-part2 .ipt-completion {
    width: 140px;
    border: none;
    text-align: center;
    font-size: 14px;
    color: #999;
    border-bottom: 2px solid #0085E6;
}

.posttest-part2 .ipt-completion:focus {
  outline: none;
}

.posttest-part2 .right-completion {
    color: #33CBB4;
}

.posttest-part2 .fail-completion {
    color: #FF4548;
}

.mb-30 {
  margin-bottom: 30px;
}

.body-synchrotest .main {
    width: 1200px;
    margin: 0 auto;
  }

.body-synchrotest .page-title {
    text-indent: 30px;
    height: 54px;
    line-height: 54px;
  }

.body-synchrotest .grey-link {
    color: #999;
  }

.body-synchrotest .normal-link {
    color: #333;
  }

.body-synchrotest .synchrotest-box {
    height: 60px;
    line-height: 60px;
    background: #fff;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .05);
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .05);
    border-radius: 8px;
    margin: 0 auto 15px;
  }

.body-synchrotest .synchrotest-box .unit {
      float: left;
      font-size: 20px;
      color: #0085E6;
      margin-right: 16px;
      margin-left: 30px;
      height: 60px;
      line-height: 60px;
    }

.body-synchrotest .synchrotest-box .changecourse {
      float: left;
      height: 60px;
      line-height: 60px;
      color: #6DBBF4;
      font-size: 14px;
    }

.body-synchrotest .synchrotest-box .change-icon {
      display: inline-block;
      width: 19px;
      height: 15px;
      background: url('../img/course-reset.png') no-repeat;
      background-size: cover;
      margin-right: 5px;
      position: relative;
      top: 3px;
    }

.body-synchrotest .synchrotest-box .return-coursecenter {
      float: right;
      margin-right: 30px;
      font-size: 14px;
      color: #0085E6;
    }

.body-synchrotest .synchrotest-wp {
    border-radius: 8px;
    overflow: hidden;
    width: 1200px;
    background: #fff;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
    margin-bottom: 68px;
  }

.body-synchrotest .synchrotest-wp .title {
      height: 50px;
      line-height: 50px;
      color: #fff;
      font-size: 20px;
      text-indent: 30px;
      background: #0085E6;
    }

.body-synchrotest .synchrotest-wp .unit-txt {
      font-size: 14px;
      color: #666;
      display: inline-block;
      width: 300px;
      text-align: center;
    }

.body-synchrotest .synchrotest-wp .history-fa {
      display: inline-block;
      width: 300px;
      text-align: center;
    }

.body-synchrotest .synchrotest-wp .history {
      font-size: 14px;
      color: #666;
    }

.body-synchrotest .synchrotest-wp .answer-fa {
      display: inline-block;
      width: 288px;
      text-align: center;
    }

.body-synchrotest .synchrotest-wp .pass {
      display: inline-block;
      width: 300px;
      text-align: center;
      font-size: 14px;
      color: #33CBB4;
    }

.body-synchrotest .synchrotest-wp .notpass {
      display: inline-block;
      width: 300px;
      text-align: center;
      font-size: 14px;
      color: #FF4548;
    }

.body-synchrotest .synchrotest-wp .answer-again {
      display: inline-block;
      text-align: center;
      font-size: 14px;
      color: #fff;
      width: 80px;
      height: 26px;
      line-height: 26px;
      background: #0085E6;
      border-radius: 13px;
    }

.body-synchrotest .synchrotest-wp li {
      height: 50px;
      line-height: 50px;
    }

.body-synchrotest .synchrotest-ul li:nth-of-type(odd) {
  background: #FAFAFB;
}

.body-synchrotest .synchrotest-ul li:nth-of-type(even) {
  background: #fff;
}

.bomb-wp {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, .5);
  top: 0;
  left: 0;
}

.bomb-wp .bomb-ct {
    width: 1000px;
    height: 289px;
    background: #fff;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .05);
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .05);
    border-radius: 8px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    margin-top: -180px;
  }

.bomb-wp .bomb-title {
    font-size: 16px;
    color: #333;
    text-indent: 58px;
    padding-top: 19px;
    margin-bottom: 49px;
  }

.bomb-wp .delete-icon {
    position: absolute;
    width: 19px;
    height: 19px;
    cursor: pointer;
    background: url('../img/delete_icon.png') no-repeat;
    background-size: cover;
    top: 19px;
    right: 30px;
  }

.bomb-wp .link-wp a {
      display: inline-block;
      width: 294px;
      height: 169px;
      margin-right: 17px
    }

.bomb-wp .link-wp a:first-of-type {
  margin-left: 40px;
  background: url('../img/link3.png') no-repeat;
  background-size: cover;
}

.bomb-wp .link-wp a:nth-of-type(2) {
  background: url('../img/link2.png') no-repeat;
  background-size: cover;
}

.bomb-wp .link-wp a:nth-of-type(3) {
  background: url('../img/link1.png') no-repeat;
  background-size: cover;
}

.fixedfoot-wp {
  width: 100%;
  height: 64px;
  background: #fff;
  -webkit-box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, .05);
          box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, .05);
  line-height: 64px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.fixedfoot-wp .fixedfoot-ct {
    width: 1200px;
    margin: 0 auto;
  }

.fixedfoot-wp .submit-btn {
    float: right;
    color: #fff;
    font-size: 20px;
    width: 148px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    background: #0085E6;
    margin-left: 40px;
  }

.fixedfoot-wp .returnback {
    float: right;
    color: #666666;
    font-size: 20px;
    margin-left: 50px;
  }

.fixedfoot-wp .cutdown {
    float: right;
    font-size: 30px;
    color: #333333;
    margin-left: 5px;
  }

.fixedfoot-wp .cutdown-txt {
    float: right;
    font-size: 14px;
    color: #999;
    margin-left: 10px;
  }

.fixedfoot-wp .cutdown-icon {
    float: right;
    width: 20px;
    height: 20px;
    background: url('../img/test_time.png') no-repeat;
    background-size: cover;
    position: relative;
    top: 20px;
  }

.posttest-body .wrap {
    padding-bottom: 80px;
  }

/* stylelint-enable */
