@charset "UTF-8";
/* 可以引入其他人 */
@import 'main_wj.css';
@import 'main_momo.css';
@import 'main_xc.css';
@import 'main_linye.css';

/* 公共CSS */
.btn {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
  color: #fff;
  border: 0;
  background: #383838;
}

.pos-btn {
  position: absolute;
  display: inline-block;
  width: 50%;
  height: 6%;
  padding: 10px 0;
  text-align: center;
  border: 1px solid red;
  border: 0;
  top: 84%;
  left: 25%;
}

.wrap {
  width: 100%;
  min-width: 1200px;
  min-height: 650px;
  margin: 0 auto;
  font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
  overflow: hidden;
  position: relative;
  transition: all linear 0.2s;
}
.wrap-color{
  background: #d22a09;
}
.main {
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

#audio_btn {
  position: fixed;
  right: 20px;
  top: 8.5%;
  z-index: 200;
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../img/mic_icon_01.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

#audio_btn.off {
  /*background-position: 0px -50px;*/
}

audio {
  height: 1px;
  width: 1px;
  display: none;
}

.pos {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
}

.pos .index {
  top: 76%;
}

.game1-ul {
  position: absolute;
  top: 46.5%;
  left: 8%;
  width: 84%;
  height: 31%;
}


.music-ani {
  -webkit-transform-origin: 50% 50%;
  /*linear,ease,ease-in,ease-in-out,ease-out*/
  animation-timing-function: linear;
  -webkit-animation-name: "music-ani";
  /*动画持续时间*/
  -webkit-animation-duration: 100s;
  /*动画延迟时间*/
  -webkit-animation-delay: 0s;
  /*定义循环资料，infinite为无限次*/
  -webkit-animation-iteration-count: infinite;
  /* forwards 固定在最后一帧| backwards 固定在第一帧*/
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes music-ani {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36000deg);
    transform: rotate(36000deg);
  }
}

body {
  background: rgba(250, 250, 251, 1);
}
.midd_header > .login {
  position: relative;
}
.midd_header > .login ul{
  display: none;
  background-color: #fff;
  position: absolute;
  z-index: 99999;
  width: 154px;
  left: 0;
  top: 70px;
  background:rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  font-size: 16px;
}
.midd_header > .login ul::before{
  content: "";
  width: 0;
  height: 0;
  border: 10px solid #fff;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: -20px;
  left: 10px;
}
.midd_header > .login ul a {
  color: #666;
  padding-left: 64px;
  display: inline-block;
  background: url('../img/head-info.png') no-repeat 20px center;
  background-size: 34px auto;
}
.midd_header > .login ul li:hover a {
  color: #0085E6;
}
.midd_header > .login ul a.info {
  background-image: url('../img/head-info.png');
}
.midd_header > .login ul li:hover a.info {
  background-image: url('../img/head-info-active.png');
}
.midd_header > .login ul a.honor {
  background-image: url('../img/head-honor.png');
}
.midd_header > .login ul li:hover a.honor {
  background-image: url('../img/head-honor-active.png');
}
.midd_header > .login ul a.test {
  background-image: url('../img/head-test.png');
}
.midd_header > .login ul li:hover a.test {
  background-image: url('../img/head-test-active.png');
}
.midd_header > .login ul a.task {
  background-image: url('../img/head-task.png');
}
.midd_header > .login ul li:hover a.task {
  background-image: url('../img/head-task-active.png');
}
.midd_header > .login ul a.logout {
  background-image: url('../img/head-logout.png');
}
.midd_header > .login ul li:hover a.logout {
  background-image: url('../img/head-logout-active.png');
}
.midd_header > .login ul li {
  line-height: 34px;
  height: 34px;
  margin-top: 10px;
}
.midd_header > .login ul li:last-child {
  margin-bottom: 10px;
}
.midd_header > .login:hover ul{
  display: block;
}