.clearfix::after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}

.clearfix {
  zoom: 1;
}

.sweet-alert input {
  height: 35px;
  margin-top: 0;
  margin-bottom: 0;
}

.sweet-alert fieldset {
  display: none !important;
}

.sweet-alert {
  width: 600px;
}

.table > tbody > tr > .reason {
  height: 51px;
  max-width: 240px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table > tbody > tr > .reason:hover {
  height: 51px;
  max-width: 240px;
  overflow: auto;
  white-space: normal;
  text-overflow: initial;
}

.recharge-body .sweet-alert {
  width: 800px;
}

.recharge-body .sweet-alert .text-danger {
  color: #f05050;
}

.coursemanagement-list {
  padding: 10px 0 0;
  margin-bottom: 21px;
  background: #fff;
}

.coursemanagement-wp .panel {
  margin-bottom: 0;
}

.coursemanagement-list .panel-heading {
  padding: 0px 15px;
  
}

.wj-a {
  color: #000;
  padding: 5px 10px;
}

.wj-a-active {
  color: #0085E6;
  border-bottom: 2px solid #0085E6;
}

.padding-10 {
  padding: 10px 0;
}

.mb-20 {
  margin-bottom: 20px;
}

.foot-img {
  width: 100%;
  max-height: 200px;
}

.mall-body .sweet-alert {
  width: 800px;
}

.mall-body .sweet-alert .title-p {
  text-align: left;
  font-weight: bold;
  padding: 5px 0;
}

.mall-body .sweet-alert .record-table {
  max-height: 500px;
  overflow-y: scroll;
}

.nodecation:hover {
  text-decoration: none;
}

.white-color {
  color: #fff;
}

.white-color:hover {
  color: #fff;
}

.normalcolor {
  color: #515253;
}

.normalcolor:hover {
  color: #515253;
}

.width-100 {
  display: inline-block;
  width: 100px;
}

.table-bordered {
  border: 1px solid #eee !important;
}

.form-lineH .radio label,
.form-lineH .radio-inline label,
.form-lineH .checkbox-inline{
  line-height: 20px;
}

.body-studentmanagementlist .pdlr-15 {
  padding: 0 15px;
}

.btm15 {
  position: relative;
  top: -15px;
}

.mode-body .radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
  margin-left: 0;
}
/* 表格相关 */
.xc-table {
  border: 1px solid #eeeeee;
  overflow: hidden;
}
.xc-table ul {
  padding: 0;
  margin: 0;
}
.xc-table .btn + .btn {
  margin-right: 5px;
}
.xc-table li {
  list-style: none;
  padding: 12px 10px 12px 25px;
  line-height: 33px;
}
.xc-table .xc-table-head {
  overflow: hidden;
  background-color: rgba(243, 243, 243, 1);
}
.xc-table .xc-table-head li {
  border-right: 1px solid #eeeeee;
  padding-top: 18px;
  padding-bottom: 18px;
}
.xc-table-body {
  background-color: #fff;
}
.xc-table-body .col-xs-4,
.xc-table-body .col-xs-2 {
  padding: 0px;
}
.xc-table-body > div + div {
  border-left: 1px solid #eeeeee; 
}
.xc-table-body > ul {
  position: relative;
}
.xc-table-body .one ul {
  position: absolute;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}
.xc-table-body .one .two {
  width: calc(100% / 3);
  left: calc(100% / 6);
  top: 0;
}
.xc-table-body .one .four {
  left:  100%;
  top: 0;
  width: calc(50% + 2px);
}
.xc-table-body .one .four li {
  border-right: none;
}
.xc-table-body .one .three {
  width: calc(100% + 3px);
  left:  100%;
  top: 0;
}
.xc-table-body .one .three.big {
  width: calc(150% + 5px)
}
.xc-table-body .one ul {
  display: none;
}
.xc-table-body li {
  color: #656565;
}
.xc-table-body .active {
  color: #999999;
}
.xc-table-body .active > ul {
  display: block;
}
.xc-table-body .one {
  width: 16.6666667%;
}
.xc-table-body li {
  border-bottom: 1px solid #eeeeee;
  background-color: #fff;
  z-index: 100;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}
/* 表格相关 */
.wj-table .circle {
  margin: 0;
}

.ml-5 {
  margin-left: 5px;
}
.xc-table-body .one .two.big {
  width: calc(83% + 5px);
}