.nodecation:hover {
  text-decoration: none;
}

.form-lineH .radio label,
.form-lineH .radio-inline label,
.form-lineH .checkbox-inline{
  line-height: 20px;
}

.normalcolor {
  color: #515253;
}

.normalcolor:hover {
  color: #515253;
}
